{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "ComposableRSS API",
    "description" : "ComposableRSS API",
    "contact" : {
      "name" : "Lost Sidewalk Software LLC",
      "url" : "https://www.lostsidewalk.com",
      "email" : "meh@lostsidewalk.com"
    },
    "version" : "1.0"
  },
  "externalDocs" : {
    "description" : "Composable RSS Official Documentation",
    "url" : "https://www.composablerss.com"
  },
  "servers" : [ {
    "url" : "https://api.composablerss.com",
    "description" : "ComposableRSS API Gateway"
  } ],
  "security" : [ {
    "apikey" : [ ]
  }, {
    "apisecret" : [ ]
  } ],
  "tags" : [ {
    "name" : "queue-credentials-controller",
    "description" : "Controller class for managing credential-related operations.\n\n This controller provides endpoints for managing credential objects within queues. Authenticated\n users with the \"VERIFIED_ROLE\" have access to these operations."
  }, {
    "name" : "queue-controller",
    "description" : "Controller class for managing queue-related operations.\n <p>\n This controller provides endpoints for managing queues, including fetching, creating,\n updating, and deleting queue configurations. Authenticated users with the \"VERIFIED_ROLE\"\n have access to these operations."
  }, {
    "name" : "post-url-controller",
    "description" : "Controller class for managing URL-related operations.\n\n This controller provides endpoints for managing URLs within posts. Authenticated\n users with the \"VERIFIED_ROLE\" have access to these operations."
  }, {
    "name" : "post-media-controller",
    "description" : "Controller class for managing media-related operations.\n\n This controller provides endpoints for managing media objects within posts. Authenticated\n users with the \"VERIFIED_ROLE\" have access to these operations."
  }, {
    "name" : "post-enclosure-controller",
    "description" : "Controller class for managing enclosure-related operations.\n\n This controller provides endpoints for managing enclosure objects within posts. Authenticated\n users with the \"VERIFIED_ROLE\" have access to these operations."
  }, {
    "name" : "post-contributor-controller",
    "description" : "Controller class for managing contributor-related operations.\n\n This controller provides endpoints for managing contributor objects within posts. Authenticated\n users with the \"VERIFIED_ROLE\" have access to these operations."
  }, {
    "name" : "post-content-controller",
    "description" : "Controller class for managing content-related operations.\n\n This controller provides endpoints for managing content objects within posts. Authenticated\n users with the \"VERIFIED_ROLE\" have access to these operations."
  }, {
    "name" : "post-author-controller",
    "description" : "Controller class for managing author-related operations.\n\n This controller provides endpoints for managing author objects within posts. Authenticated\n users with the \"VERIFIED_ROLE\" have access to these operations."
  }, {
    "name" : "post-controller",
    "description" : "Controller class for managing post-related operations.\n\n This controller provides endpoints for managing posts within queues. Authenticated\n users with the \"VERIFIED_ROLE\" have access to these operations."
  }, {
    "name" : "post-category-controller",
    "description" : "Controller class for managing category-related operations.\n\n This controller provides endpoints for managing category objects within posts. Authenticated\n users with the \"VERIFIED_ROLE\" have access to these operations."
  } ],
  "paths" : {
    "/queues/{queueId}/credentials/{basicUsername}" : {
      "put" : {
        "tags" : [ "queue-credentials-controller" ],
        "summary" : "Update the password on the queue credential given by username, on a queue given by Id",
        "description" : "Update a password for the queue credential given by username.\n\n This endpoint allows authenticated users with the \"VERIFIED_ROLE\" to update the\n password of a queue credential object identified by its username, on a queue identified by its Id.",
        "operationId" : "updatePassword",
        "parameters" : [ {
          "name" : "queueId",
          "in" : "path",
          "description" : "The Id of the queue to update",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        }, {
          "name" : "basicUsername",
          "in" : "path",
          "description" : "The basic username of the credential to update",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "text/plain" : {
              "schema" : {
                "type" : "string"
              }
            },
            "application/json" : {
              "schema" : {
                "type" : "string"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successfully updated password",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ResponseMessage"
                }
              }
            }
          }
        },
        "security" : [ {
          "VERIFIED_ROLE" : [ ]
        } ]
      },
      "delete" : {
        "tags" : [ "queue-credentials-controller" ],
        "summary" : "Delete the queue credential given by username, on a queue given by Id",
        "description" : "Delete a queue credential given by username.\n\n This endpoint allows authenticated users with the \"VERIFIED_ROLE\" to delete a\n a queue credential identified by its index, on a queue identified by its Id.",
        "operationId" : "deleteQueueCredential",
        "parameters" : [ {
          "name" : "queueId",
          "in" : "path",
          "description" : "The Id of the queue to delete",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        }, {
          "name" : "basicUsername",
          "in" : "path",
          "description" : "The username of the credential to delete",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully deleted queue credential",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ResponseMessage"
                }
              }
            }
          }
        },
        "security" : [ {
          "VERIFIED_ROLE" : [ ]
        } ]
      }
    },
    "/queues/{id}" : {
      "put" : {
        "tags" : [ "queue-controller" ],
        "summary" : "Update the properties of an existing queue",
        "description" : "Update the properties of an existing queue.\n <p>\n This endpoint allows authenticated users with the \"VERIFIED_ROLE\" to update the properties\n of an existing queue identified by itsId. The queue's configuration properties are provided\n in the request body.",
        "operationId" : "updateQueue",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The Id of the queue to be updated",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "requestBody" : {
          "description" : "The updated queue configuration properties.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/QueueConfigRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successfully updated queue configuration",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/QueueDTO"
                }
              }
            }
          }
        },
        "security" : [ {
          "VERIFIED_ROLE" : [ ]
        } ]
      },
      "delete" : {
        "tags" : [ "queue-controller" ],
        "summary" : "Delete a queue",
        "description" : "Delete a queue.",
        "operationId" : "deleteQueue",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The Id of the queue to be deleted",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully deleted queue",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ResponseMessage"
                }
              }
            }
          }
        },
        "security" : [ {
          "VERIFIED_ROLE" : [ ]
        } ]
      }
    },
    "/queues/{id}/title" : {
      "put" : {
        "tags" : [ "queue-controller" ],
        "summary" : "Change the title of an existing queue",
        "description" : "Change the title of an existing queue.\n <p>\n This endpoint allows authenticated users with the \"VERIFIED_ROLE\" to update the title\n of an existing queue.",
        "operationId" : "updateQueueTitle",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The Id of the queue to update the title for",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "requestBody" : {
          "description" : "The updated queue title.",
          "content" : {
            "text/plain" : {
              "schema" : {
                "type" : "string",
                "description" : "The updated queue title"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successfully updated queue title",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ResponseMessage"
                }
              }
            }
          }
        },
        "security" : [ {
          "VERIFIED_ROLE" : [ ]
        } ]
      },
      "delete" : {
        "tags" : [ "queue-controller" ],
        "summary" : "Delete the title from a queue given by Id",
        "description" : "Delete the title for a queue given by Id.\n\n This endpoint allows authenticated users with the \"VERIFIED_ROLE\" to delete\n the title from a queue identified by its Id.",
        "operationId" : "deleteQueueTitle",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The Id of the queue with the title to delete",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully deleted queue title",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ResponseMessage"
                }
              }
            }
          }
        },
        "security" : [ {
          "VERIFIED_ROLE" : [ ]
        } ]
      }
    },
    "/queues/{id}/status" : {
      "put" : {
        "tags" : [ "queue-controller" ],
        "summary" : "Change the status of an existing queue",
        "description" : "Change the status of an existing queue.\n <p>\n This endpoint allows authenticated users with the \"VERIFIED_ROLE\" to update the status\n of an existing queue. The status change can be used to mark a queue for import or\n un-mark it for import.",
        "operationId" : "updateQueueStatus",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The Id of the queue to update the status for",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "requestBody" : {
          "description" : "The request containing the updated queue status information.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/QueueStatusUpdateRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successfully updated queue status",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ResponseMessage"
                }
              }
            }
          }
        },
        "security" : [ {
          "VERIFIED_ROLE" : [ ]
        } ]
      }
    },
    "/queues/{id}/language" : {
      "put" : {
        "tags" : [ "queue-controller" ],
        "summary" : "Change the language of an existing queue",
        "description" : "Change the language of an existing queue.\n <p>\n This endpoint allows authenticated users with the \"VERIFIED_ROLE\" to update the language\n of an existing queue.",
        "operationId" : "updateQueueLanguage",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The Id of the queue to update the language for",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "requestBody" : {
          "description" : "The updated queue language.",
          "content" : {
            "text/plain" : {
              "schema" : {
                "type" : "string",
                "description" : "The updated queue language"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successfully updated queue language",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ResponseMessage"
                }
              }
            }
          }
        },
        "security" : [ {
          "VERIFIED_ROLE" : [ ]
        } ]
      }
    },
    "/queues/{id}/imgsrc" : {
      "put" : {
        "tags" : [ "queue-controller" ],
        "summary" : "Change the image source of an existing queue",
        "description" : "Change the image source of an existing queue.\n <p>\n This endpoint allows authenticated users with the \"VERIFIED_ROLE\" to update the image source\n of an existing queue.",
        "operationId" : "updateQueueImageSource",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The Id of the queue to update the image source for",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "requestBody" : {
          "description" : "The source for the queue thumbnail image.",
          "content" : {
            "text/plain" : {
              "schema" : {
                "type" : "string",
                "description" : "The updated image source"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successfully updated queue image source",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ResponseMessage"
                }
              }
            }
          }
        },
        "security" : [ {
          "VERIFIED_ROLE" : [ ]
        } ]
      },
      "delete" : {
        "tags" : [ "queue-controller" ],
        "summary" : "Delete the image source from a queue given by Id",
        "description" : "Delete the image source for a queue given by Id.\n\n This endpoint allows authenticated users with the \"VERIFIED_ROLE\" to delete\n the image source from a queue identified by its Id.",
        "operationId" : "deleteQueueImageSource",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The Id of the queue with the image source to delete",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully deleted queue image source",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ResponseMessage"
                }
              }
            }
          }
        },
        "security" : [ {
          "VERIFIED_ROLE" : [ ]
        } ]
      }
    },
    "/queues/{id}/ident" : {
      "put" : {
        "tags" : [ "queue-controller" ],
        "summary" : "Change the ident string of an existing queue",
        "description" : "Change the ident string of an existing queue.\n <p>\n This endpoint allows authenticated users with the \"VERIFIED_ROLE\" to update the ident string\n of an existing queue.",
        "operationId" : "updateQueueIdent",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The Id of the queue to update the ident string for",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "requestBody" : {
          "description" : "The updated queue ident string.",
          "content" : {
            "text/plain" : {
              "schema" : {
                "type" : "string",
                "description" : "The updated queue ident string"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successfully updated queue ident",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ResponseMessage"
                }
              }
            }
          }
        },
        "security" : [ {
          "VERIFIED_ROLE" : [ ]
        } ]
      }
    },
    "/queues/{id}/generator" : {
      "put" : {
        "tags" : [ "queue-controller" ],
        "summary" : "Change the generator of an existing queue",
        "description" : "Change the generator of an existing queue.\n <p>\n This endpoint allows authenticated users with the \"VERIFIED_ROLE\" to update the generator\n of an existing queue.",
        "operationId" : "updateQueueGenerator",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The Id of the queue to update the generator for",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "requestBody" : {
          "description" : "The updated queue generator.",
          "content" : {
            "text/plain" : {
              "schema" : {
                "type" : "string",
                "description" : "The updated queue generator"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successfully updated queue generator",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ResponseMessage"
                }
              }
            }
          }
        },
        "security" : [ {
          "VERIFIED_ROLE" : [ ]
        } ]
      },
      "delete" : {
        "tags" : [ "queue-controller" ],
        "summary" : "Delete the generator from a queue given by Id",
        "description" : "Delete the generator for a queue given by Id.\n\n This endpoint allows authenticated users with the \"VERIFIED_ROLE\" to delete\n the generator from a queue identified by its Id.",
        "operationId" : "deleteQueueGenerator",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The Id of the queue with the generator to delete",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully deleted queue generator",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ResponseMessage"
                }
              }
            }
          }
        },
        "security" : [ {
          "VERIFIED_ROLE" : [ ]
        } ]
      }
    },
    "/queues/{id}/desc" : {
      "put" : {
        "tags" : [ "queue-controller" ],
        "summary" : "Change the description of an existing queue",
        "description" : "Change the description of an existing queue.\n <p>\n This endpoint allows authenticated users with the \"VERIFIED_ROLE\" to update the description\n of an existing queue.",
        "operationId" : "updateQueueDescription",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The Id of the queue to update the description for",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "requestBody" : {
          "description" : "The updated queue description.",
          "content" : {
            "text/plain" : {
              "schema" : {
                "type" : "string",
                "description" : "The updated queue description"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successfully updated queue description",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ResponseMessage"
                }
              }
            }
          }
        },
        "security" : [ {
          "VERIFIED_ROLE" : [ ]
        } ]
      },
      "delete" : {
        "tags" : [ "queue-controller" ],
        "summary" : "Delete the description from a queue given by Id",
        "description" : "Delete the description for a queue given by Id.\n\n This endpoint allows authenticated users with the \"VERIFIED_ROLE\" to delete\n the description from a queue identified by its Id.",
        "operationId" : "deleteQueueDescription",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The Id of the queue with the description to delete",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully deleted queue description",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ResponseMessage"
                }
              }
            }
          }
        },
        "security" : [ {
          "VERIFIED_ROLE" : [ ]
        } ]
      }
    },
    "/queues/{id}/copyright" : {
      "put" : {
        "tags" : [ "queue-controller" ],
        "summary" : "Change the copyright of an existing queue",
        "description" : "Change the copyright of an existing queue.\n <p>\n This endpoint allows authenticated users with the \"VERIFIED_ROLE\" to update the copyright\n of an existing queue.",
        "operationId" : "updateQueueCopyright",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The Id of the queue to update the copyright for",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "requestBody" : {
          "description" : "The updated queue copyright.",
          "content" : {
            "text/plain" : {
              "schema" : {
                "type" : "string",
                "description" : "The updated queue copyright"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successfully updated queue copyright",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ResponseMessage"
                }
              }
            }
          }
        },
        "security" : [ {
          "VERIFIED_ROLE" : [ ]
        } ]
      },
      "delete" : {
        "tags" : [ "queue-controller" ],
        "summary" : "Delete the copyright from a queue given by Id",
        "description" : "Delete the copyright for a queue given by Id.\n\n This endpoint allows authenticated users with the \"VERIFIED_ROLE\" to delete\n the copyright from a queue identified by its Id.",
        "operationId" : "deleteQueueCopyright",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The Id of the queue with the copyright to delete",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully deleted queue copyright",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ResponseMessage"
                }
              }
            }
          }
        },
        "security" : [ {
          "VERIFIED_ROLE" : [ ]
        } ]
      }
    },
    "/queues/{id}/auth" : {
      "put" : {
        "tags" : [ "queue-controller" ],
        "summary" : "Change the authentication requirements of an existing queue",
        "description" : "Change the authentication requirement of an existing queue.\n <p>\n This endpoint allows authenticated users with the \"VERIFIED_ROLE\" to update the authentication requirement\n of an existing queue.",
        "operationId" : "updateQueueAuthRequirement",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The Id of the queue to update the authentication requirement for",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "requestBody" : {
          "description" : "The request containing the updated authentication requirement.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/QueueAuthUpdateRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successfully updated queue authentication requirement",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ResponseMessage"
                }
              }
            }
          }
        },
        "security" : [ {
          "VERIFIED_ROLE" : [ ]
        } ]
      }
    },
    "/posts/{postId}/urls/{urlIdx}" : {
      "put" : {
        "tags" : [ "post-url-controller" ],
        "summary" : "Update the post URL given by idx, on a post given by Id",
        "description" : "Update a post URL given by index.\n\n This endpoint allows authenticated users with the \"VERIFIED_ROLE\" to update a\n post URL identified by its index, on a post identified by its Id.",
        "operationId" : "updatePostUrl",
        "parameters" : [ {
          "name" : "postId",
          "in" : "path",
          "description" : "The Id of the post to update",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        }, {
          "name" : "urlIdx",
          "in" : "path",
          "description" : "The index of the URL to update",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "requestBody" : {
          "description" : "A PostUrl, representing the URL to update.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PostUrl"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successfully updated post URL",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ResponseMessage"
                }
              }
            }
          }
        },
        "security" : [ {
          "VERIFIED_ROLE" : [ ]
        } ]
      },
      "delete" : {
        "tags" : [ "post-url-controller" ],
        "summary" : "Delete the post URL given by idx, on a post given by Id",
        "description" : "Delete a post URL given by index.\n\n This endpoint allows authenticated users with the \"VERIFIED_ROLE\" to delete a\n post URL identified by its index, on a post identified by its Id.",
        "operationId" : "deletePostUrl",
        "parameters" : [ {
          "name" : "postId",
          "in" : "path",
          "description" : "The Id of the post from which the URL will be removed",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        }, {
          "name" : "urlIdx",
          "in" : "path",
          "description" : "The index of the URL to delete",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully deleted post URL",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ResponseMessage"
                }
              }
            }
          }
        },
        "security" : [ {
          "VERIFIED_ROLE" : [ ]
        } ]
      }
    },
    "/posts/{postId}/media" : {
      "get" : {
        "tags" : [ "post-media-controller" ],
        "summary" : "Get all medias in the post given by its Id",
        "description" : "Get all media in the post given by its Id.\n\n This endpoint allows authenticated users with the \"VERIFIED_ROLE\" to retrieve all\n medias in a specific post identified by its Id.",
        "operationId" : "getPostMedia",
        "parameters" : [ {
          "name" : "postId",
          "in" : "path",
          "description" : "The Id of the post to fetch medias from",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully fetched post medias",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PostMedia"
                }
              }
            }
          }
        },
        "security" : [ {
          "VERIFIED_ROLE" : [ ]
        } ]
      },
      "put" : {
        "tags" : [ "post-media-controller" ],
        "summary" : "Update the post media object on a post given by Id",
        "description" : "Update a post media given by index.\n\n This endpoint allows authenticated users with the \"VERIFIED_ROLE\" to update a\n post media object, on a post identified by its Id.",
        "operationId" : "updatePostMedia",
        "parameters" : [ {
          "name" : "postId",
          "in" : "path",
          "description" : "The Id of the post to update",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "requestBody" : {
          "description" : "A PostMedia object, representing new media to update.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PostMedia"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successfully updated post media",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ResponseMessage"
                }
              }
            }
          }
        },
        "security" : [ {
          "VERIFIED_ROLE" : [ ]
        } ]
      },
      "delete" : {
        "tags" : [ "post-media-controller" ],
        "summary" : "Delete the post media object on a post given by Id",
        "description" : "Delete a post media object from a post given by Id,\n\n This endpoint allows authenticated users with the \"VERIFIED_ROLE\" to delete a\n a post media object on a post identified by its Id.",
        "operationId" : "deletePostMedia",
        "parameters" : [ {
          "name" : "postId",
          "in" : "path",
          "description" : "The Id of the post to delete",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully deleted post media",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ResponseMessage"
                }
              }
            }
          }
        },
        "security" : [ {
          "VERIFIED_ROLE" : [ ]
        } ]
      }
    },
    "/posts/{postId}/enclosures/{enclosureIdx}" : {
      "put" : {
        "tags" : [ "post-enclosure-controller" ],
        "summary" : "Update the post enclosure given by idx, on a post given by Id",
        "description" : "Update a post enclosure given by index.\n\n This endpoint allows authenticated users with the \"VERIFIED_ROLE\" to update a\n post enclosure identified by its index, on a post identified by its Id.",
        "operationId" : "updatePostEnclosure",
        "parameters" : [ {
          "name" : "postId",
          "in" : "path",
          "description" : "The Id of the post to update",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        }, {
          "name" : "enclosureIdx",
          "in" : "path",
          "description" : "The index of the enclosure to update",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "requestBody" : {
          "description" : "A EnclosureObject, representing new enclosure to update.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PostEnclosure"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successfully updated post enclosure",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ResponseMessage"
                }
              }
            }
          }
        },
        "security" : [ {
          "VERIFIED_ROLE" : [ ]
        } ]
      },
      "delete" : {
        "tags" : [ "post-enclosure-controller" ],
        "summary" : "Delete the post enclosure given by idx, on a post given by Id",
        "description" : "Delete a post enclosure given by index.\n\n This endpoint allows authenticated users with the \"VERIFIED_ROLE\" to delete a\n a post enclosure identified by its index, on a post identified by its Id.",
        "operationId" : "deletePostEnclosure",
        "parameters" : [ {
          "name" : "postId",
          "in" : "path",
          "description" : "The Id of the post to delete",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        }, {
          "name" : "enclosureIdx",
          "in" : "path",
          "description" : "The index of the enclosure to delete",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully deleted post enclosure",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ResponseMessage"
                }
              }
            }
          }
        },
        "security" : [ {
          "VERIFIED_ROLE" : [ ]
        } ]
      }
    },
    "/posts/{postId}/contributors/{contributorIdx}" : {
      "put" : {
        "tags" : [ "post-contributor-controller" ],
        "summary" : "Update the post contributor given by idx, on a post given by Id",
        "description" : "Update a post contributor given by index.\n\n This endpoint allows authenticated users with the \"VERIFIED_ROLE\" to update a\n post contributor identified by its index, on a post identified by its Id.",
        "operationId" : "updatePostContributor",
        "parameters" : [ {
          "name" : "postId",
          "in" : "path",
          "description" : "The Id of the post to update",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        }, {
          "name" : "contributorIdx",
          "in" : "path",
          "description" : "The index of the contributor to update",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "requestBody" : {
          "description" : "A ContributorObject, representing new contributor to update.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PostPerson"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successfully updated post contributor",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ResponseMessage"
                }
              }
            }
          }
        },
        "security" : [ {
          "VERIFIED_ROLE" : [ ]
        } ]
      },
      "delete" : {
        "tags" : [ "post-contributor-controller" ],
        "summary" : "Delete the post contributor given by idx, on a post given by Id",
        "description" : "Delete a post contributor given by index.\n\n This endpoint allows authenticated users with the \"VERIFIED_ROLE\" to delete a\n a post contributor identified by its index, on a post identified by its Id.",
        "operationId" : "deletePostContributor",
        "parameters" : [ {
          "name" : "postId",
          "in" : "path",
          "description" : "The Id of the post to delete",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        }, {
          "name" : "contributorIdx",
          "in" : "path",
          "description" : "The index of the contributor to delete",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully deleted post contributor",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ResponseMessage"
                }
              }
            }
          }
        },
        "security" : [ {
          "VERIFIED_ROLE" : [ ]
        } ]
      }
    },
    "/posts/{postId}/content/{contentIdx}" : {
      "put" : {
        "tags" : [ "post-content-controller" ],
        "summary" : "Update the post content given by idx, on a post given by Id",
        "description" : "Update a post content object given by index.\n\n This endpoint allows authenticated users with the \"VERIFIED_ROLE\" to update a\n post content object identified by its index, on a post identified by its Id.",
        "operationId" : "updatePostContent",
        "parameters" : [ {
          "name" : "postId",
          "in" : "path",
          "description" : "The Id of the post to update",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        }, {
          "name" : "contentIdx",
          "in" : "path",
          "description" : "The index of the content to update",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "requestBody" : {
          "description" : "A ContentObject, representing new content to update.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ContentObject"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successfully updated post content",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ResponseMessage"
                }
              }
            }
          }
        },
        "security" : [ {
          "VERIFIED_ROLE" : [ ]
        } ]
      },
      "delete" : {
        "tags" : [ "post-content-controller" ],
        "summary" : "Delete the post content given by idx, on a post given by Id",
        "description" : "Delete a post content object given by index.\n\n This endpoint allows authenticated users with the \"VERIFIED_ROLE\" to delete a\n a post content object identified by its index, on a post identified by its Id.",
        "operationId" : "deletePostContent",
        "parameters" : [ {
          "name" : "postId",
          "in" : "path",
          "description" : "The Id of the post to delete",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        }, {
          "name" : "contentIdx",
          "in" : "path",
          "description" : "The index of the content to delete",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully deleted post content",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ResponseMessage"
                }
              }
            }
          }
        },
        "security" : [ {
          "VERIFIED_ROLE" : [ ]
        } ]
      }
    },
    "/posts/{postId}/authors/{authorIdx}" : {
      "put" : {
        "tags" : [ "post-author-controller" ],
        "summary" : "Update the post author given by idx, on a post given by Id",
        "description" : "Update a post author given by index.\n\n This endpoint allows authenticated users with the \"VERIFIED_ROLE\" to update a\n post author identified by its index, on a post identified by its Id.",
        "operationId" : "updatePostAuthor",
        "parameters" : [ {
          "name" : "postId",
          "in" : "path",
          "description" : "The Id of the post to update",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        }, {
          "name" : "authorIdx",
          "in" : "path",
          "description" : "The index of the author to update",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "requestBody" : {
          "description" : "A AuthorObject, representing new author to update.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PostPerson"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successfully updated post author",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ResponseMessage"
                }
              }
            }
          }
        },
        "security" : [ {
          "VERIFIED_ROLE" : [ ]
        } ]
      },
      "delete" : {
        "tags" : [ "post-author-controller" ],
        "summary" : "Delete the post author given by idx, on a post given by Id",
        "description" : "Delete a post author given by index.\n\n This endpoint allows authenticated users with the \"VERIFIED_ROLE\" to delete a\n a post author identified by its index, on a post identified by its Id.",
        "operationId" : "deletePostAuthor",
        "parameters" : [ {
          "name" : "postId",
          "in" : "path",
          "description" : "The Id of the post to delete",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        }, {
          "name" : "authorIdx",
          "in" : "path",
          "description" : "The index of the author to delete",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully deleted post author",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ResponseMessage"
                }
              }
            }
          }
        },
        "security" : [ {
          "VERIFIED_ROLE" : [ ]
        } ]
      }
    },
    "/posts/{id}" : {
      "put" : {
        "tags" : [ "post-controller" ],
        "summary" : "Update the post given by Id",
        "description" : "Update a post given by Id.\n\n This endpoint allows authenticated users with the \"VERIFIED_ROLE\" to update any\n attribute of a post identified by its Id.",
        "operationId" : "updatePost",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The Id of the post to update",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "requestBody" : {
          "description" : "The request containing the updated post.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PostConfigRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successfully updated post",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PostDTO"
                }
              }
            }
          }
        },
        "security" : [ {
          "VERIFIED_ROLE" : [ ]
        } ]
      },
      "delete" : {
        "tags" : [ "post-controller" ],
        "summary" : "Delete the post given by Id",
        "description" : "Delete a post given by Id.\n\n This endpoint allows authenticated users with the \"VERIFIED_ROLE\" to delete\n a post identified by its Id.",
        "operationId" : "deletePost",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The Id of the post to delete",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully deleted post",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ResponseMessage"
                }
              }
            }
          }
        },
        "security" : [ {
          "VERIFIED_ROLE" : [ ]
        } ]
      }
    },
    "/posts/{id}/title" : {
      "put" : {
        "tags" : [ "post-controller" ],
        "summary" : "Update the title of the post given by Id",
        "description" : "Update the title of the post given by Id.\n\n This endpoint allows authenticated users with the \"VERIFIED_ROLE\" to update the\n title of a post identified by its Id.",
        "operationId" : "updatePostTitle",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The Id of the post to update",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "requestBody" : {
          "description" : "The request containing the updated post title.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ContentObject"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successfully updated post title",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ContentObject"
                }
              }
            }
          }
        },
        "security" : [ {
          "VERIFIED_ROLE" : [ ]
        } ]
      }
    },
    "/posts/{id}/status" : {
      "put" : {
        "tags" : [ "post-controller" ],
        "summary" : "Update the publication status of the post given by Id",
        "description" : "Update the publication status of the post given by Id.\n\n This endpoint allows authenticated users with the \"VERIFIED_ROLE\" to update the\n publication status of a post identified by its Id. The status can be 'PUB_PENDING',\n 'DEPUB_PENDING', or null.",
        "operationId" : "updatePostStatus",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The Id of the post to update",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "requestBody" : {
          "description" : "The request containing the updated post status.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PostStatusUpdateRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successfully updated post publication status",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DeployResponse"
                }
              }
            }
          }
        },
        "security" : [ {
          "VERIFIED_ROLE" : [ ]
        } ]
      }
    },
    "/posts/{id}/rights" : {
      "put" : {
        "tags" : [ "post-controller" ],
        "summary" : "Update the rights string of the post given by Id",
        "description" : "Update the rights string of the post given by Id.\n\n This endpoint allows authenticated users with the \"VERIFIED_ROLE\" to update the\n rights string of a post identified by its Id.",
        "operationId" : "updatePostRights",
        "parameters" : [ {
          "name" : "Accept",
          "in" : "header",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Content-Type",
          "in" : "header",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "id",
          "in" : "path",
          "description" : "The Id of the post to update",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "requestBody" : {
          "description" : "The updated post rights string.",
          "content" : {
            "text/plain" : {
              "schema" : {
                "type" : "string"
              }
            },
            "application/json" : {
              "schema" : {
                "type" : "string"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successfully updated post rights string",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "string"
                }
              }
            }
          }
        },
        "security" : [ {
          "VERIFIED_ROLE" : [ ]
        } ]
      },
      "delete" : {
        "tags" : [ "post-controller" ],
        "summary" : "Delete the rights string from a post given by Id",
        "description" : "Delete the rights string for a post given by Id.\n\n This endpoint allows authenticated users with the \"VERIFIED_ROLE\" to delete\n the rights string from a post identified by its Id.",
        "operationId" : "deletePostRights",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The Id of the post with the rights string to delete",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully deleted post rights string",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ResponseMessage"
                }
              }
            }
          }
        },
        "security" : [ {
          "VERIFIED_ROLE" : [ ]
        } ]
      }
    },
    "/posts/{id}/itunes" : {
      "put" : {
        "tags" : [ "post-controller" ],
        "summary" : "Update the iTunes descriptor of the post given by Id",
        "description" : "Update the iTunes descriptor of the post given by Id.\n\n This endpoint allows authenticated users with the \"VERIFIED_ROLE\" to update the\n iTunes descriptor of a post identified by its Id.",
        "operationId" : "updatePostITunes",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The Id of the post to update",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "requestBody" : {
          "description" : "The request containing the updated post iTunes descriptor.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PostITunes"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successfully updated post iTunes descriptor",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PostITunes"
                }
              }
            }
          }
        },
        "security" : [ {
          "VERIFIED_ROLE" : [ ]
        } ]
      },
      "delete" : {
        "tags" : [ "post-controller" ],
        "summary" : "Delete the iTunee descriptor from a post given by Id",
        "description" : "Delete the iTunes descriptor for a post given by Id.\n\n This endpoint allows authenticated users with the \"VERIFIED_ROLE\" to delete\n the iTunes descriptor from a post identified by its Id.",
        "operationId" : "deletePostITunes",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The Id of the post with the iTunes descriptor to delete",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully deleted post iTunes descriptor",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ResponseMessage"
                }
              }
            }
          }
        },
        "security" : [ {
          "VERIFIED_ROLE" : [ ]
        } ]
      }
    },
    "/posts/{id}/expiration" : {
      "put" : {
        "tags" : [ "post-controller" ],
        "summary" : "Update the expiration timestamp of the post given by Id",
        "description" : "Update the expiration timestamp of the post given by Id.\n\n This endpoint allows authenticated users with the \"VERIFIED_ROLE\" to update the\n expiration timestamp of a post identified by its Id.",
        "operationId" : "updateExpirationTimestamp",
        "parameters" : [ {
          "name" : "Accept",
          "in" : "header",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "id",
          "in" : "path",
          "description" : "The Id of the post to update",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "requestBody" : {
          "description" : "The updated post expiration timestamp.",
          "content" : {
            "text/plain" : {
              "schema" : {
                "type" : "string"
              }
            },
            "application/json" : {
              "schema" : {
                "type" : "string"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successfully updated post expiration timestamp",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "string"
                }
              }
            }
          }
        },
        "security" : [ {
          "VERIFIED_ROLE" : [ ]
        } ]
      },
      "delete" : {
        "tags" : [ "post-controller" ],
        "summary" : "Delete the expiration timestamp from a post given by Id",
        "description" : "Delete the expiration timestamp for a post given by Id.\n\n This endpoint allows authenticated users with the \"VERIFIED_ROLE\" to delete\n the expiration timestamp from a post identified by its Id.",
        "operationId" : "deleteExpirationTimestamp",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The Id of the post with the expiration timestamp to delete",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully deleted post expiration timestamp",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ResponseMessage"
                }
              }
            }
          }
        },
        "security" : [ {
          "VERIFIED_ROLE" : [ ]
        } ]
      }
    },
    "/posts/{id}/desc" : {
      "put" : {
        "tags" : [ "post-controller" ],
        "summary" : "Update the description of the post given by Id",
        "description" : "Update the description of the post given by Id.\n\n This endpoint allows authenticated users with the \"VERIFIED_ROLE\" to update the\n description of a post identified by its Id.",
        "operationId" : "updatePostDescription",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The Id of the post to update",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "requestBody" : {
          "description" : "The request containing the updated post description.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ContentObject"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successfully updated post description",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ContentObject"
                }
              }
            }
          }
        },
        "security" : [ {
          "VERIFIED_ROLE" : [ ]
        } ]
      }
    },
    "/posts/{id}/comment" : {
      "put" : {
        "tags" : [ "post-controller" ],
        "summary" : "Update the comment string of the post given by Id",
        "description" : "Update the comment string of the post given by Id.\n\n This endpoint allows authenticated users with the \"VERIFIED_ROLE\" to update the\n comment string of a post identified by its Id.",
        "operationId" : "updatePostComment",
        "parameters" : [ {
          "name" : "Accept",
          "in" : "header",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Content-Type",
          "in" : "header",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "id",
          "in" : "path",
          "description" : "The Id of the post to update",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "requestBody" : {
          "description" : "The updated post comment string.",
          "content" : {
            "text/plain" : {
              "schema" : {
                "type" : "string"
              }
            },
            "application/json" : {
              "schema" : {
                "type" : "string"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successfully updated post comment string",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "string"
                }
              }
            }
          }
        },
        "security" : [ {
          "VERIFIED_ROLE" : [ ]
        } ]
      },
      "delete" : {
        "tags" : [ "post-controller" ],
        "summary" : "Delete the comment string from a post given by Id",
        "description" : "Delete the comment string for a post given by Id.\n\n This endpoint allows authenticated users with the \"VERIFIED_ROLE\" to delete\n the comment string from a post identified by its Id.",
        "operationId" : "deletePostComment",
        "parameters" : [ {
          "name" : "id",
          "in" : "path",
          "description" : "The Id of the post with the comment string to delete",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully deleted post comment string",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ResponseMessage"
                }
              }
            }
          }
        },
        "security" : [ {
          "VERIFIED_ROLE" : [ ]
        } ]
      }
    },
    "/queues" : {
      "get" : {
        "tags" : [ "queue-controller" ],
        "summary" : "Get all queue definitions",
        "description" : "Get all queue definitions for the authenticated user.",
        "operationId" : "getQueues",
        "responses" : {
          "200" : {
            "description" : "Successfully fetched queue definitions",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/QueueDTO"
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "VERIFIED_ROLE" : [ ]
        } ]
      },
      "post" : {
        "tags" : [ "queue-controller" ],
        "summary" : "Create a new queue",
        "description" : "Create new queue definitions.",
        "operationId" : "createQueue",
        "requestBody" : {
          "description" : "List of queue configuration requests.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/QueueConfigRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successfully created queue configurations",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/QueueDTO"
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "VERIFIED_ROLE" : [ ]
        } ]
      }
    },
    "/queues/{queueId}/credentials" : {
      "get" : {
        "tags" : [ "queue-credentials-controller" ],
        "summary" : "Get all credentials in the queue given by its Id",
        "description" : "Get all credential in the queue given by its Id.  Passwords are masked.\n\n This endpoint allows authenticated users with the \"VERIFIED_ROLE\" to retrieve all\n credentials in a specific queue identified by its Id.",
        "operationId" : "getQueueCredential",
        "parameters" : [ {
          "name" : "queueId",
          "in" : "path",
          "description" : "The Id of the queue to fetch credentials from",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully fetched queue credentials",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/QueueCredential"
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "VERIFIED_ROLE" : [ ]
        } ]
      },
      "post" : {
        "tags" : [ "queue-credentials-controller" ],
        "summary" : "Add new credential to the queue given by its Id",
        "description" : "Add new credential to the queue given by its Id.\n\n This endpoint allows authenticated users with the \"VERIFIED_ROLE\" to add new credential\n to a specific queue identified by its Id.",
        "operationId" : "addQueueCredential",
        "parameters" : [ {
          "name" : "queueId",
          "in" : "path",
          "description" : "The Id of the queue to add credential to",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "requestBody" : {
          "description" : "A QueueCredentialConfigRequest object representing new credential to add.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/QueueCredentialConfigRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successfully added credential to queue",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ResponseMessage"
                }
              }
            }
          }
        },
        "security" : [ {
          "VERIFIED_ROLE" : [ ]
        } ]
      }
    },
    "/posts/{queueId}" : {
      "get" : {
        "tags" : [ "post-controller" ],
        "summary" : "Get all posts in the queue given by its Id",
        "description" : "Get all posts in the queue given by its Id.\n\n This endpoint allows authenticated users with the \"VERIFIED_ROLE\" to retrieve all\n posts in a specific queue identified by its Id.",
        "operationId" : "getPosts",
        "parameters" : [ {
          "name" : "queueId",
          "in" : "path",
          "description" : "The Id of the queue to fetch posts from",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully fetched posts",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/PostDTO"
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "VERIFIED_ROLE" : [ ]
        } ]
      },
      "post" : {
        "tags" : [ "post-controller" ],
        "summary" : "Create new posts in the queue given by queueId",
        "description" : "Create new posts in the queue given by its Id.\n\n This endpoint allows authenticated users with the \"VERIFIED_ROLE\" to create new posts\n in a specific queue identified by its Id.",
        "operationId" : "createPosts",
        "parameters" : [ {
          "name" : "queueId",
          "in" : "path",
          "description" : "The Id of the queue to create posts in",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "requestBody" : {
          "description" : "A list of PostConfigRequests, representing new posts to add.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PostConfigRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successfully created posts",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/PostDTO"
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "VERIFIED_ROLE" : [ ]
        } ]
      }
    },
    "/posts/{postId}/urls" : {
      "get" : {
        "tags" : [ "post-url-controller" ],
        "summary" : "Get all URLs in the post given by its Id",
        "description" : "Get all URLs in the post given by its Id.\n\n This endpoint allows authenticated users with the \"VERIFIED_ROLE\" to retrieve all\n URLs in a specific post identified by its Id.",
        "operationId" : "getPostUrls",
        "parameters" : [ {
          "name" : "postId",
          "in" : "path",
          "description" : "The Id of the post to fetch URLs from",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully fetched post URLs",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/PostUrl"
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "VERIFIED_ROLE" : [ ]
        } ]
      },
      "post" : {
        "tags" : [ "post-url-controller" ],
        "summary" : "Add a new URL to the post given by its Id",
        "description" : "Add a new URL to the post given by its Id.\n\n This endpoint allows authenticated users with the \"VERIFIED_ROLE\" to add new URLs\n to a specific post identified by its Id.",
        "operationId" : "addPostUrl",
        "parameters" : [ {
          "name" : "postId",
          "in" : "path",
          "description" : "The Id of the post to add URL to",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "requestBody" : {
          "description" : "A PostUrl object, representing new URL to add.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PostUrl"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successfully added URL to post",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ResponseMessage"
                }
              }
            }
          }
        },
        "security" : [ {
          "VERIFIED_ROLE" : [ ]
        } ]
      }
    },
    "/posts/{postId}/enclosures" : {
      "get" : {
        "tags" : [ "post-enclosure-controller" ],
        "summary" : "Get all enclosures in the post given by its Id",
        "description" : "Get all enclosure in the post given by its Id.\n\n This endpoint allows authenticated users with the \"VERIFIED_ROLE\" to retrieve all\n enclosures in a specific post identified by its Id.",
        "operationId" : "getPostEnclosures",
        "parameters" : [ {
          "name" : "postId",
          "in" : "path",
          "description" : "The Id of the post to fetch enclosures from",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully fetched post enclosures",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/PostEnclosure"
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "VERIFIED_ROLE" : [ ]
        } ]
      },
      "post" : {
        "tags" : [ "post-enclosure-controller" ],
        "summary" : "Add new enclosure to the post given by its Id",
        "description" : "Add new enclosure to the post given by its Id.\n\n This endpoint allows authenticated users with the \"VERIFIED_ROLE\" to add new enclosure\n to a specific post identified by its Id.",
        "operationId" : "addPostEnclosure",
        "parameters" : [ {
          "name" : "postId",
          "in" : "path",
          "description" : "The Id of the post to add enclosure to",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "requestBody" : {
          "description" : "A PostEnclosure object representing new enclosure to add.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PostEnclosure"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successfully added enclosure to post",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ResponseMessage"
                }
              }
            }
          }
        },
        "security" : [ {
          "VERIFIED_ROLE" : [ ]
        } ]
      }
    },
    "/posts/{postId}/contributors" : {
      "get" : {
        "tags" : [ "post-contributor-controller" ],
        "summary" : "Get all contributors in the post given by its Id",
        "description" : "Get all contributor in the post given by its Id.\n\n This endpoint allows authenticated users with the \"VERIFIED_ROLE\" to retrieve all\n contributors in a specific post identified by its Id.",
        "operationId" : "getPostContributor",
        "parameters" : [ {
          "name" : "postId",
          "in" : "path",
          "description" : "The Id of the post to fetch contributors from",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully fetched post contributors",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/PostPerson"
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "VERIFIED_ROLE" : [ ]
        } ]
      },
      "post" : {
        "tags" : [ "post-contributor-controller" ],
        "summary" : "Add new contributor to the post given by its Id",
        "description" : "Add new contributor to the post given by its Id.\n\n This endpoint allows authenticated users with the \"VERIFIED_ROLE\" to add new contributor\n to a specific post identified by its Id.",
        "operationId" : "addPostContributor",
        "parameters" : [ {
          "name" : "postId",
          "in" : "path",
          "description" : "The Id of the post to add contributor to",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "requestBody" : {
          "description" : "A PostPerson object representing new contributor to add.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PostPerson"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successfully added contributor to post",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ResponseMessage"
                }
              }
            }
          }
        },
        "security" : [ {
          "VERIFIED_ROLE" : [ ]
        } ]
      }
    },
    "/posts/{postId}/content" : {
      "get" : {
        "tags" : [ "post-content-controller" ],
        "summary" : "Get all content in the post given by its Id",
        "description" : "Get all content in the post given by its Id.\n\n This endpoint allows authenticated users with the \"VERIFIED_ROLE\" to retrieve all\n content in a specific post identified by its Id.",
        "operationId" : "getPostContent",
        "parameters" : [ {
          "name" : "postId",
          "in" : "path",
          "description" : "The Id of the post to fetch content from",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully fetched post content",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/ContentObject"
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "VERIFIED_ROLE" : [ ]
        } ]
      },
      "post" : {
        "tags" : [ "post-content-controller" ],
        "summary" : "Add new content to the post given by its Id",
        "description" : "Add new content to the post given by its Id.\n\n This endpoint allows authenticated users with the \"VERIFIED_ROLE\" to add new content\n to a specific post identified by its Id.",
        "operationId" : "addPostContent",
        "parameters" : [ {
          "name" : "postId",
          "in" : "path",
          "description" : "The Id of the post to add content to",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "requestBody" : {
          "description" : "A ContentObject, representing new content to add.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ContentObject"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successfully add content to post",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ResponseMessage"
                }
              }
            }
          }
        },
        "security" : [ {
          "VERIFIED_ROLE" : [ ]
        } ]
      }
    },
    "/posts/{postId}/categories" : {
      "get" : {
        "tags" : [ "post-category-controller" ],
        "summary" : "Get all categories in the post given by its Id",
        "description" : "Get all categories in the post given by its Id.\n\n This endpoint allows authenticated users with the \"VERIFIED_ROLE\" to retrieve all\n categories in a specific post identified by its Id.",
        "operationId" : "getPostCategories",
        "parameters" : [ {
          "name" : "postId",
          "in" : "path",
          "description" : "The Id of the post to fetch categories from",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully fetched post categories",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "type" : "string"
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "VERIFIED_ROLE" : [ ]
        } ]
      },
      "post" : {
        "tags" : [ "post-category-controller" ],
        "summary" : "Add new category to the post given by its Id",
        "description" : "Add a new category to the post given by its Id.\n\n This endpoint allows authenticated users with the \"VERIFIED_ROLE\" to add new category\n to a specific post identified by its Id.",
        "operationId" : "addPostCategory",
        "parameters" : [ {
          "name" : "postId",
          "in" : "path",
          "description" : "The Id of the post to add category to",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "requestBody" : {
          "description" : "A string value representing the name of the new category to add.",
          "content" : {
            "text/plain" : {
              "schema" : {
                "type" : "string",
                "description" : "The name of a category"
              }
            },
            "application/json" : {
              "schema" : {
                "type" : "string",
                "description" : "The name of a category"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successfully added category to post",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ResponseMessage"
                }
              }
            }
          }
        },
        "security" : [ {
          "VERIFIED_ROLE" : [ ]
        } ]
      }
    },
    "/posts/{postId}/authors" : {
      "get" : {
        "tags" : [ "post-author-controller" ],
        "summary" : "Get all authors in the post given by its Id",
        "description" : "Get all author in the post given by its Id.\n\n This endpoint allows authenticated users with the \"VERIFIED_ROLE\" to retrieve all\n authors in a specific post identified by its Id.",
        "operationId" : "getPostAuthors",
        "parameters" : [ {
          "name" : "postId",
          "in" : "path",
          "description" : "The Id of the post to fetch authors from",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully fetched post authors",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/PostPerson"
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "VERIFIED_ROLE" : [ ]
        } ]
      },
      "post" : {
        "tags" : [ "post-author-controller" ],
        "summary" : "Add new author to the post given by its Id",
        "description" : "Add new author to the post given by its Id.\n\n This endpoint allows authenticated users with the \"VERIFIED_ROLE\" to add new author\n to a specific post identified by its Id.",
        "operationId" : "addPostAuthor",
        "parameters" : [ {
          "name" : "postId",
          "in" : "path",
          "description" : "The Id of the post to add author to",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "requestBody" : {
          "description" : "A PostPerson object representing new author to add.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PostPerson"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successfully added author to post",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ResponseMessage"
                }
              }
            }
          }
        },
        "security" : [ {
          "VERIFIED_ROLE" : [ ]
        } ]
      }
    },
    "/queues/{queueId}/transport" : {
      "get" : {
        "tags" : [ "queue-controller" ],
        "summary" : "Get the transport identifier of a queue given by its Id",
        "description" : "Get the transport identifier of a queue given by its Id.\n\n This endpoint allows authenticated users with the \"VERIFIED_ROLE\" to get the transport identifier of a\n queue identified by its Id.",
        "operationId" : "getQueueTransport",
        "parameters" : [ {
          "name" : "Accept",
          "in" : "header",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "queueId",
          "in" : "path",
          "description" : "The Id of the queue to fetch the transport identifier from",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully fetched queue transport identifier",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "type" : "string"
                }
              },
              "application/json" : {
                "schema" : {
                  "type" : "string"
                }
              }
            }
          }
        },
        "security" : [ {
          "VERIFIED_ROLE" : [ ]
        } ]
      }
    },
    "/queues/{queueId}/title" : {
      "get" : {
        "tags" : [ "queue-controller" ],
        "summary" : "Get the title of a queue given by its Id",
        "description" : "Get the title of a queue given by its Id.\n\n This endpoint allows authenticated users with the \"VERIFIED_ROLE\" to get the title of a\n queue identified by its Id.",
        "operationId" : "getQueueTitle",
        "parameters" : [ {
          "name" : "Accept",
          "in" : "header",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "queueId",
          "in" : "path",
          "description" : "The Id of the queue to fetch the title from",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully fetched queue title",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "type" : "string"
                }
              },
              "application/json" : {
                "schema" : {
                  "type" : "string"
                }
              }
            }
          }
        },
        "security" : [ {
          "VERIFIED_ROLE" : [ ]
        } ]
      }
    },
    "/queues/{queueId}/status" : {
      "get" : {
        "tags" : [ "queue-controller" ],
        "summary" : "Get the status of a queue given by its Id",
        "description" : "Get the status of a queue given by its Id.\n\n This endpoint allows authenticated users with the \"VERIFIED_ROLE\" to get the status of a\n queue identified by its Id.  The status of a post is given by the QueueStatus enumeration.",
        "operationId" : "getQueueStatus",
        "parameters" : [ {
          "name" : "queueId",
          "in" : "path",
          "description" : "The Id of the queue to fetch status from",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully fetched queue status",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "string",
                  "enum" : [ "ENABLED", "DISABLED" ]
                }
              }
            }
          }
        },
        "security" : [ {
          "VERIFIED_ROLE" : [ ]
        } ]
      }
    },
    "/queues/{queueId}/language" : {
      "get" : {
        "tags" : [ "queue-controller" ],
        "summary" : "Get the language of a queue given by its Id",
        "description" : "Get the language of a queue given by its Id.\n\n This endpoint allows authenticated users with the \"VERIFIED_ROLE\" to get the language of a\n queue identified by its Id.",
        "operationId" : "getQueueLanguage",
        "parameters" : [ {
          "name" : "Accept",
          "in" : "header",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "queueId",
          "in" : "path",
          "description" : "The Id of the queue to fetch the language from",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully fetched queue language",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "type" : "string"
                }
              },
              "application/json" : {
                "schema" : {
                  "type" : "string"
                }
              }
            }
          }
        },
        "security" : [ {
          "VERIFIED_ROLE" : [ ]
        } ]
      }
    },
    "/queues/{queueId}/imgsrc" : {
      "get" : {
        "tags" : [ "queue-controller" ],
        "summary" : "Get the image source of a queue given by its Id",
        "description" : "Get the image source of a queue given by its Id.\n\n This endpoint allows authenticated users with the \"VERIFIED_ROLE\" to get the image source of a\n queue identified by its Id.",
        "operationId" : "getQueueImageSource",
        "parameters" : [ {
          "name" : "Accept",
          "in" : "header",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "queueId",
          "in" : "path",
          "description" : "The Id of the queue to fetch the image source from",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully fetched queue image source",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "type" : "string"
                }
              },
              "application/json" : {
                "schema" : {
                  "type" : "string"
                }
              }
            }
          }
        },
        "security" : [ {
          "VERIFIED_ROLE" : [ ]
        } ]
      }
    },
    "/queues/{queueId}/ident" : {
      "get" : {
        "tags" : [ "queue-controller" ],
        "summary" : "Get the ident string of a queue given by its Id",
        "description" : "Get the ident string of a queue given by its Id.\n\n This endpoint allows authenticated users with the \"VERIFIED_ROLE\" to get the ident string of a\n queue identified by its Id.",
        "operationId" : "getQueueIdent",
        "parameters" : [ {
          "name" : "Accept",
          "in" : "header",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "queueId",
          "in" : "path",
          "description" : "The Id of the queue to fetch the ident string from",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully fetched queue ident string",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "type" : "string"
                }
              },
              "application/json" : {
                "schema" : {
                  "type" : "string"
                }
              }
            }
          }
        },
        "security" : [ {
          "VERIFIED_ROLE" : [ ]
        } ]
      }
    },
    "/queues/{queueId}/generator" : {
      "get" : {
        "tags" : [ "queue-controller" ],
        "summary" : "Get the generator of a queue given by its Id",
        "description" : "Get the generator of a queue given by its Id.\n\n This endpoint allows authenticated users with the \"VERIFIED_ROLE\" to get the generator of a\n queue identified by its Id.",
        "operationId" : "getQueueGenerator",
        "parameters" : [ {
          "name" : "Accept",
          "in" : "header",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "queueId",
          "in" : "path",
          "description" : "The Id of the queue to fetch the generator from",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully fetched queue generator",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "type" : "string"
                }
              },
              "application/json" : {
                "schema" : {
                  "type" : "string"
                }
              }
            }
          }
        },
        "security" : [ {
          "VERIFIED_ROLE" : [ ]
        } ]
      }
    },
    "/queues/{queueId}/desc" : {
      "get" : {
        "tags" : [ "queue-controller" ],
        "summary" : "Get the description of a queue given by its Id",
        "description" : "Get the description of a queue given by its Id.\n\n This endpoint allows authenticated users with the \"VERIFIED_ROLE\" to get description of a\n queue identified by its Id.",
        "operationId" : "getQueueDescription",
        "parameters" : [ {
          "name" : "Accept",
          "in" : "header",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "queueId",
          "in" : "path",
          "description" : "The Id of the queue to fetch the description from",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully fetched queue description",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "type" : "string"
                }
              },
              "application/json" : {
                "schema" : {
                  "type" : "string"
                }
              }
            }
          }
        },
        "security" : [ {
          "VERIFIED_ROLE" : [ ]
        } ]
      }
    },
    "/queues/{queueId}/deployed" : {
      "get" : {
        "tags" : [ "queue-controller" ],
        "summary" : "Get the deployed timestamp of a queue given by its Id",
[...]
