{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "ComposableRSS API",
    "description" : "ComposableRSS API",
    "contact" : {
      "name" : "Lost Sidewalk Software LLC",
      "url" : "https://www.lostsidewalk.com",
      "email" : "meh@lostsidewalk.com"
    },
    "version" : "1.0"
  },
  "externalDocs" : {
    "description" : "Composable RSS Official Documentation",
    "url" : "https://www.composablerss.com"
  },
  "servers" : [ {
    "url" : "https://api.composablerss.com",
    "description" : "ComposableRSS API Gateway"
  } ],
  "security" : [ {
    "apikey" : [ ]
  }, {
    "apisecret" : [ ]
  } ],
  "tags" : [ {
    "name" : "content-controller-_-update",
    "description" : "Controller class for updating content on a post."
  }, {
    "name" : "queue-controller-_-create",
    "description" : "Controller class for creating queues and posts in the application."
  }, {
    "name" : "queue-credentials-controller-_-create",
    "description" : "Controller class for creating queue credentials."
  }, {
    "name" : "content-controller-_-create",
    "description" : "Controller class for creating and adding new content to a post."
  }, {
    "name" : "queue-credentials-controller-_-retrieve",
    "description" : "Controller class for retrieving queue credentials."
  }, {
    "name" : "content-controller-_-retrieve",
    "description" : "Controller class for retrieving content from a post."
  }, {
    "name" : "queue-controller-_-delete",
    "description" : "Controller class for deleting queues and their attributes."
  }, {
    "name" : "queue-credentials-controller-_-delete",
    "description" : "Controller class for deleting queue credentials."
  }, {
    "name" : "content-controller-_-delete",
    "description" : "Controller class for deleting content from a post."
  } ],
  "paths" : {
    "/v1/queues/{queueIdent}" : {
      "get" : {
        "tags" : [ "queue-controller-_-retrieve" ],
        "summary" : "Get a queue definition by identifier",
        "description" : "Get a queue definition by its identifier.",
        "operationId" : "getQueueById",
        "parameters" : [ {
          "name" : "queueIdent",
          "in" : "path",
          "description" : "The identifier of the queue to fetch",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "If-None-Match",
          "in" : "header",
          "description" : "if-none-match HTTP header value (for e-tag evaluation).",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully fetched queue definition",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/QueueDTO"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "queue-controller-_-update" ],
        "summary" : "Update the properties of an existing queue",
        "description" : "Update the properties of an existing queue.\n <p>\n This endpoint allows authenticated users with the \"VERIFIED_ROLE\" to update the properties\n of an existing queue given by its identifier. The queue's configuration properties are provided\n in the request body.",
        "operationId" : "updateQueue",
        "parameters" : [ {
          "name" : "queueIdent",
          "in" : "path",
          "description" : "The identifier of the queue to be updated",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The updated queue configuration properties.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/QueueConfigRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successfully updated queue configuration",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/QueueDTO"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "queue-controller-_-delete" ],
        "summary" : "Delete a queue given by its identifier",
        "description" : "Delete a queue given by its identifier.",
        "operationId" : "deleteQueue",
        "parameters" : [ {
          "name" : "queueIdent",
          "in" : "path",
          "description" : "The identifier of the queue to be deleted",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully deleted queue",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ResponseMessage"
                }
              }
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "queue-controller-_-update" ],
        "summary" : "Update the properties of an existing queue",
        "description" : "Update the properties of an existing queue.\n <p>\n This endpoint allows authenticated users with the \"VERIFIED_ROLE\" to update the properties\n of an existing queue given by its identifier. The queue's configuration properties are provided\n in the request body.",
        "operationId" : "updateQueue_1",
        "parameters" : [ {
          "name" : "queueIdent",
          "in" : "path",
          "description" : "The identifier of the queue to be updated",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The updated queue configuration properties.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/QueueConfigRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successfully updated queue configuration",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/QueueDTO"
                }
              }
            }
          }
        }
      }
    },
    "/v1/queues/{queueIdent}/title" : {
      "get" : {
        "tags" : [ "queue-controller-_-retrieve" ],
        "summary" : "Get the title of a queue given by its identifier",
        "description" : "Get the title of a queue given by its identifier.\n <p>\n This endpoint allows authenticated users with the \"VERIFIED_ROLE\" to get the title of a\n queue given by its identifier.",
        "operationId" : "getQueueTitle",
        "parameters" : [ {
          "name" : "Accept",
          "in" : "header",
          "required" : false,
          "schema" : {
            "type" : "string",
            "default" : "application/json"
          }
        }, {
          "name" : "queueIdent",
          "in" : "path",
          "description" : "The identifier of the queue to fetch the title from",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully fetched queue title",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "type" : "string"
                }
              },
              "application/json" : {
                "schema" : {
                  "type" : "string"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "queue-controller-_-update" ],
        "summary" : "Change the title of an existing queue",
        "description" : "Change the title of an existing queue.\n <p>\n This endpoint allows authenticated users with the \"VERIFIED_ROLE\" to update the title\n of an existing queue.",
        "operationId" : "updateQueueTitle",
        "parameters" : [ {
          "name" : "queueIdent",
          "in" : "path",
          "description" : "The identifier of the queue to update the title for",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The updated queue title.",
          "content" : {
            "*/*" : {
              "schema" : {
                "type" : "string",
                "description" : "The updated queue title"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successfully updated queue title",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/QueueConfigResponse"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "queue-controller-_-delete" ],
        "summary" : "Delete the title from a queue given by its identifier",
        "description" : "Delete the title for a queue given by its identifier.",
        "operationId" : "deleteQueueTitle",
        "parameters" : [ {
          "name" : "queueIdent",
          "in" : "path",
          "description" : "The identifier of the queue with the title to delete",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully deleted queue title",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/QueueConfigResponse"
                }
              }
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "queue-controller-_-update" ],
        "summary" : "Change the title of an existing queue",
        "description" : "Change the title of an existing queue.\n <p>\n This endpoint allows authenticated users with the \"VERIFIED_ROLE\" to update the title\n of an existing queue.",
        "operationId" : "updateQueueTitle_1",
        "parameters" : [ {
          "name" : "queueIdent",
          "in" : "path",
          "description" : "The identifier of the queue to update the title for",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The updated queue title.",
          "content" : {
            "*/*" : {
              "schema" : {
                "type" : "string",
                "description" : "The updated queue title"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successfully updated queue title",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/QueueConfigResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/queues/{queueIdent}/options" : {
      "get" : {
        "tags" : [ "queue-options-controller-_-retrieve" ],
        "summary" : "Get the export options from the queue given by its identifier",
        "description" : "Get the export configuration from a queue given by its identifier.\n\n This endpoint allows authenticated users with the \"VERIFIED_ROLE\" to retrieve the\n export configuration from a queue given by its identifier.",
        "operationId" : "getExportOptions",
        "parameters" : [ {
          "name" : "queueIdent",
          "in" : "path",
          "description" : "The identifier of the queue to fetch export options from",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully fetched export options",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ExportConfigDTO"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "queue-options-controller-_-update" ],
        "summary" : "Update the export options on the queue given by its identifier",
        "description" : "Update the export options for the queue given by its identifier.\n\n This endpoint allows authenticated users with the \"VERIFIED_ROLE\" to update the\n export options of a queue given by its identifier.",
        "operationId" : "updateOptions",
        "parameters" : [ {
          "name" : "queueIdent",
          "in" : "path",
          "description" : "The identifier the queue to update",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "*/*" : {
              "schema" : {
                "$ref" : "#/components/schemas/ExportConfigRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successfully updated export options",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/QueueConfigResponse"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "queue-options-controller-_-delete" ],
        "summary" : "Delete all export options from the queue given by identifier",
        "description" : "Delete all queue export options from a queue given by its identifier.\n\n This endpoint allows authenticated users with the \"VERIFIED_ROLE\" to delete all\n queue export configuration from a queue given by its identifier.",
        "operationId" : "deleteOptions",
        "parameters" : [ {
          "name" : "queueIdent",
          "in" : "path",
          "description" : "The identifier of the queue to delete",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully deleted export options",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/QueueConfigResponse"
                }
              }
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "queue-options-controller-_-update" ],
        "summary" : "Update the export options on the queue given by its identifier",
        "description" : "Update the export options for the queue given by its identifier.\n\n This endpoint allows authenticated users with the \"VERIFIED_ROLE\" to update the\n export options of a queue given by its identifier.",
        "operationId" : "updateOptions_1",
        "parameters" : [ {
          "name" : "queueIdent",
          "in" : "path",
          "description" : "The identifier the queue to update",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "*/*" : {
              "schema" : {
                "$ref" : "#/components/schemas/ExportConfigRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successfully updated export options",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/QueueConfigResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/queues/{queueIdent}/options/rssConfig" : {
      "get" : {
        "tags" : [ "queue-options-controller-_-retrieve" ],
        "summary" : "Get the RSS export configuration from the queue given by Id",
        "description" : "Get the RSS export configuration for the queue given by its identifier.\n\n This endpoint allows authenticated users with the \"VERIFIED_ROLE\" to retrieve the\n RSS export configuration for the queue given by its identifier.",
        "operationId" : "getRssExportOptions",
        "parameters" : [ {
          "name" : "queueIdent",
          "in" : "path",
          "description" : "The identifier of the queue to fetch RSS export configuration from",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully fetched RSS export configuration",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RSS20Config"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "queue-options-controller-_-update" ],
        "summary" : "Update the RSS export options on the queue given by its identifier",
        "description" : "Update the RSS export options for the queue given by its identifier.\n\n This endpoint allows authenticated users with the \"VERIFIED_ROLE\" to update the\n RSS export options of a queue given by its identifier.",
        "operationId" : "updateRssOptions",
        "parameters" : [ {
          "name" : "queueIdent",
          "in" : "path",
          "description" : "The identifier of the queue to update",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "*/*" : {
              "schema" : {
                "$ref" : "#/components/schemas/RSS20Config"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successfully updated RSS export options",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/QueueConfigResponse"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "queue-options-controller-_-delete" ],
        "summary" : "Delete RSS export options from the queue given by its identifier",
        "description" : "Delete the RSS export configuration from a queue given by its identifier.\n\n This endpoint allows authenticated users with the \"VERIFIED_ROLE\" to delete\n RSS export configuration from a queue given by its identifier.",
        "operationId" : "deleteRssOptions",
        "parameters" : [ {
          "name" : "queueIdent",
          "in" : "path",
          "description" : "The identifier of the queue to delete",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully deleted RSS export options",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/QueueConfigResponse"
                }
              }
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "queue-options-controller-_-update" ],
        "summary" : "Update the RSS export options on the queue given by its identifier",
        "description" : "Update the RSS export options for the queue given by its identifier.\n\n This endpoint allows authenticated users with the \"VERIFIED_ROLE\" to update the\n RSS export options of a queue given by its identifier.",
        "operationId" : "updateRssOptions_1",
        "parameters" : [ {
          "name" : "queueIdent",
          "in" : "path",
          "description" : "The identifier of the queue to update",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "*/*" : {
              "schema" : {
                "$ref" : "#/components/schemas/RSS20Config"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successfully updated RSS export options",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/QueueConfigResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/queues/{queueIdent}/options/atomConfig" : {
      "get" : {
        "tags" : [ "queue-options-controller-_-retrieve" ],
        "summary" : "Get the ATOM export configuration from the queue given by Id",
        "description" : "Get the ATOM export configuration for the queue given by its identifier.\n\n This endpoint allows authenticated users with the \"VERIFIED_ROLE\" to retrieve the\n ATOM export configuration for the queue given by its identifier.",
        "operationId" : "getAtomExportOptions",
        "parameters" : [ {
          "name" : "queueIdent",
          "in" : "path",
          "description" : "The identifier of the queue to fetch ATOM export configuration from",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully fetched ATOM export configuration",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Atom10Config"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "queue-options-controller-_-update" ],
        "summary" : "Update the ATOM export options on the queue given by its identifier",
        "description" : "Update the ATOM export options for the queue given by its identifier.\n\n This endpoint allows authenticated users with the \"VERIFIED_ROLE\" to update the\n ATOM export options of a queue given by its identifier.",
        "operationId" : "updateAtomOptions",
        "parameters" : [ {
          "name" : "queueIdent",
          "in" : "path",
          "description" : "The identifier of the queue to update",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "*/*" : {
              "schema" : {
                "$ref" : "#/components/schemas/Atom10Config"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successfully updated ATOM export options",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/QueueConfigResponse"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "queue-options-controller-_-delete" ],
        "summary" : "Delete ATOM export options from the queue given by its identifier",
        "description" : "Delete the ATOM export configuration from a queue given by its identifier.\n\n This endpoint allows authenticated users with the \"VERIFIED_ROLE\" to delete\n ATOM export configuration from a queue given by its identifier.",
        "operationId" : "deleteAtomOptions",
        "parameters" : [ {
          "name" : "queueIdent",
          "in" : "path",
          "description" : "The identifier of the queue to delete",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully deleted ATOM export options",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/QueueConfigResponse"
                }
              }
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "queue-options-controller-_-update" ],
        "summary" : "Update the ATOM export options on the queue given by its identifier",
        "description" : "Update the ATOM export options for the queue given by its identifier.\n\n This endpoint allows authenticated users with the \"VERIFIED_ROLE\" to update the\n ATOM export options of a queue given by its identifier.",
        "operationId" : "updateAtomOptions_1",
        "parameters" : [ {
          "name" : "queueIdent",
          "in" : "path",
          "description" : "The identifier of the queue to update",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "*/*" : {
              "schema" : {
                "$ref" : "#/components/schemas/Atom10Config"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successfully updated ATOM export options",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/QueueConfigResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/queues/{queueIdent}/language" : {
      "get" : {
        "tags" : [ "queue-controller-_-retrieve" ],
        "summary" : "Get the language of a queue given by its identifier",
        "description" : "Get the language of a queue given by its identifier.\n <p>\n This endpoint allows authenticated users with the \"VERIFIED_ROLE\" to get the language of a\n queue given by its identifier.",
        "operationId" : "getQueueLanguage",
        "parameters" : [ {
          "name" : "Accept",
          "in" : "header",
          "required" : false,
          "schema" : {
            "type" : "string",
            "default" : "application/json"
          }
        }, {
          "name" : "queueIdent",
          "in" : "path",
          "description" : "The identifier of the queue to fetch the language from",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully fetched queue language",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "type" : "string"
                }
              },
              "application/json" : {
                "schema" : {
                  "type" : "string"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "queue-controller-_-update" ],
        "summary" : "Change the language of an existing queue",
        "description" : "Change the language of an existing queue.\n <p>\n This endpoint allows authenticated users with the \"VERIFIED_ROLE\" to update the language\n of an existing queue.",
        "operationId" : "updateQueueLanguage",
        "parameters" : [ {
          "name" : "queueIdent",
          "in" : "path",
          "description" : "The identifier of the queue to update the language for",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The updated queue language.",
          "content" : {
            "*/*" : {
              "schema" : {
                "type" : "string",
                "description" : "The updated queue language"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successfully updated queue language",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/QueueConfigResponse"
                }
              }
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "queue-controller-_-update" ],
        "summary" : "Change the language of an existing queue",
        "description" : "Change the language of an existing queue.\n <p>\n This endpoint allows authenticated users with the \"VERIFIED_ROLE\" to update the language\n of an existing queue.",
        "operationId" : "updateQueueLanguage_1",
        "parameters" : [ {
          "name" : "queueIdent",
          "in" : "path",
          "description" : "The identifier of the queue to update the language for",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The updated queue language.",
          "content" : {
            "*/*" : {
              "schema" : {
                "type" : "string",
                "description" : "The updated queue language"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successfully updated queue language",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/QueueConfigResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/queues/{queueIdent}/imgsrc" : {
      "get" : {
        "tags" : [ "queue-controller-_-retrieve" ],
        "summary" : "Get the image source of a queue given by its identifier",
        "description" : "Get the image source of a queue given by its identifier.\n <p>\n This endpoint allows authenticated users with the \"VERIFIED_ROLE\" to get the image source of a\n queue given by its identifier.",
        "operationId" : "getQueueImageSource",
        "parameters" : [ {
          "name" : "Accept",
          "in" : "header",
          "required" : false,
          "schema" : {
            "type" : "string",
            "default" : "application/json"
          }
        }, {
          "name" : "queueIdent",
          "in" : "path",
          "description" : "The identifier of the queue to fetch the image source from",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully fetched queue image source",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "type" : "string"
                }
              },
              "application/json" : {
                "schema" : {
                  "type" : "string"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "queue-controller-_-update" ],
        "summary" : "Change the image source of an existing queue",
        "description" : "Change the image source of an existing queue.\n <p>\n This endpoint allows authenticated users with the \"VERIFIED_ROLE\" to update the image source\n of an existing queue.",
        "operationId" : "updateQueueImageSource",
        "parameters" : [ {
          "name" : "queueIdent",
          "in" : "path",
          "description" : "The identifier of the queue to update the image source for",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The source for the queue thumbnail image.",
          "content" : {
            "*/*" : {
              "schema" : {
                "type" : "string",
                "description" : "The updated image source"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successfully updated queue image source",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/QueueConfigResponse"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "queue-controller-_-delete" ],
        "summary" : "Delete the image source from a queue givne by its identifier",
        "description" : "Delete the image source for a queue given by its identifier.",
        "operationId" : "deleteQueueImageSource",
        "parameters" : [ {
          "name" : "queueIdent",
          "in" : "path",
          "description" : "The identifier of the queue with the image source to delete",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully deleted queue image source",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/QueueConfigResponse"
                }
              }
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "queue-controller-_-update" ],
        "summary" : "Change the image source of an existing queue",
        "description" : "Change the image source of an existing queue.\n <p>\n This endpoint allows authenticated users with the \"VERIFIED_ROLE\" to update the image source\n of an existing queue.",
        "operationId" : "updateQueueImageSource_1",
        "parameters" : [ {
          "name" : "queueIdent",
          "in" : "path",
          "description" : "The identifier of the queue to update the image source for",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The source for the queue thumbnail image.",
          "content" : {
            "*/*" : {
              "schema" : {
                "type" : "string",
                "description" : "The updated image source"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successfully updated queue image source",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/QueueConfigResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/queues/{queueIdent}/ident" : {
      "put" : {
        "tags" : [ "queue-controller-_-update" ],
        "summary" : "Change the identifier of an existing queue",
        "description" : "Change the identifier of an existing queue.\n <p>\n This endpoint allows authenticated users with the \"VERIFIED_ROLE\" to update the identifier\n of an existing queue.",
        "operationId" : "updateQueueIdent",
        "parameters" : [ {
          "name" : "queueIdent",
          "in" : "path",
          "description" : "The identifier of the queue to update the identifier for",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The updated queue identifier.",
          "content" : {
            "*/*" : {
              "schema" : {
                "type" : "string",
                "description" : "The updated queue identifier"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successfully updated queue identifier",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ResponseMessage"
                }
              }
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "queue-controller-_-update" ],
        "summary" : "Change the identifier of an existing queue",
        "description" : "Change the identifier of an existing queue.\n <p>\n This endpoint allows authenticated users with the \"VERIFIED_ROLE\" to update the identifier\n of an existing queue.",
        "operationId" : "updateQueueIdent_1",
        "parameters" : [ {
          "name" : "queueIdent",
          "in" : "path",
          "description" : "The identifier of the queue to update the identifier for",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The updated queue identifier.",
          "content" : {
            "*/*" : {
              "schema" : {
                "type" : "string",
                "description" : "The updated queue identifier"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successfully updated queue identifier",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ResponseMessage"
                }
              }
            }
          }
        }
      }
    },
    "/v1/queues/{queueIdent}/generator" : {
      "get" : {
        "tags" : [ "queue-controller-_-retrieve" ],
        "summary" : "Get the generator of a queue given by its identifier",
        "description" : "Get the generator of a queue given by its identifier.\n <p>\n This endpoint allows authenticated users with the \"VERIFIED_ROLE\" to get the generator of a\n queue given by its identifier.",
        "operationId" : "getQueueGenerator",
        "parameters" : [ {
          "name" : "Accept",
          "in" : "header",
          "required" : false,
          "schema" : {
            "type" : "string",
            "default" : "application/json"
          }
        }, {
          "name" : "queueIdent",
          "in" : "path",
          "description" : "The identifier of the queue to fetch the generator from",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully fetched queue generator",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "type" : "string"
                }
              },
              "application/json" : {
                "schema" : {
                  "type" : "string"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "queue-controller-_-update" ],
        "summary" : "Change the generator of an existing queue",
        "description" : "Change the generator of an existing queue.\n <p>\n This endpoint allows authenticated users with the \"VERIFIED_ROLE\" to update the generator\n of an existing queue.",
        "operationId" : "updateQueueGenerator",
        "parameters" : [ {
          "name" : "queueIdent",
          "in" : "path",
          "description" : "The identifier of the queue to update the generator for",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The updated queue generator.",
          "content" : {
            "*/*" : {
              "schema" : {
                "type" : "string",
                "description" : "The updated queue generator"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successfully updated queue generator",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/QueueConfigResponse"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "queue-controller-_-delete" ],
        "summary" : "Delete the generator from a queue given by its identifier",
        "description" : "Delete the generator for a queue given by its identifier.",
        "operationId" : "deleteQueueGenerator",
        "parameters" : [ {
          "name" : "queueIdent",
          "in" : "path",
          "description" : "The identifier of the queue with the generator to delete",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully deleted queue generator",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/QueueConfigResponse"
                }
              }
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "queue-controller-_-update" ],
        "summary" : "Change the generator of an existing queue",
        "description" : "Change the generator of an existing queue.\n <p>\n This endpoint allows authenticated users with the \"VERIFIED_ROLE\" to update the generator\n of an existing queue.",
        "operationId" : "updateQueueGenerator_1",
        "parameters" : [ {
          "name" : "queueIdent",
          "in" : "path",
          "description" : "The identifier of the queue to update the generator for",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The updated queue generator.",
          "content" : {
            "*/*" : {
              "schema" : {
                "type" : "string",
                "description" : "The updated queue generator"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successfully updated queue generator",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/QueueConfigResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/queues/{queueIdent}/description" : {
      "get" : {
        "tags" : [ "queue-controller-_-retrieve" ],
        "summary" : "Get the description of a queue given by its identifier",
        "description" : "Get the description of a queue given by its identifier.\n <p>\n This endpoint allows authenticated users with the \"VERIFIED_ROLE\" to get description of a\n queue given by its identifier.",
        "operationId" : "getQueueDescription",
        "parameters" : [ {
          "name" : "Accept",
          "in" : "header",
          "required" : false,
          "schema" : {
            "type" : "string",
            "default" : "application/json"
          }
        }, {
          "name" : "queueIdent",
          "in" : "path",
          "description" : "The identifier of the queue to fetch the description from",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully fetched queue description",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "type" : "string"
                }
              },
              "application/json" : {
                "schema" : {
                  "type" : "string"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "queue-controller-_-update" ],
        "summary" : "Change the description of an existing queue",
        "description" : "Change the description of an existing queue.\n <p>\n This endpoint allows authenticated users with the \"VERIFIED_ROLE\" to update the description\n of an existing queue.",
        "operationId" : "updateQueueDescription",
        "parameters" : [ {
          "name" : "queueIdent",
          "in" : "path",
          "description" : "The identifier of the queue to update the description for",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The updated queue description.",
          "content" : {
            "*/*" : {
              "schema" : {
                "type" : "string",
                "description" : "The updated queue description"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successfully updated queue description",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/QueueConfigResponse"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "queue-controller-_-delete" ],
        "summary" : "Delete the description from a queue given by its identifier",
        "description" : "Delete the description for a queue given by its identifier.",
        "operationId" : "deleteQueueDescription",
        "parameters" : [ {
          "name" : "queueIdent",
          "in" : "path",
          "description" : "The identifier of the queue with the description to delete",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully deleted queue description",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/QueueConfigResponse"
                }
              }
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "queue-controller-_-update" ],
        "summary" : "Change the description of an existing queue",
        "description" : "Change the description of an existing queue.\n <p>\n This endpoint allows authenticated users with the \"VERIFIED_ROLE\" to update the description\n of an existing queue.",
        "operationId" : "updateQueueDescription_1",
        "parameters" : [ {
          "name" : "queueIdent",
          "in" : "path",
          "description" : "The identifier of the queue to update the description for",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The updated queue description.",
          "content" : {
            "*/*" : {
              "schema" : {
                "type" : "string",
                "description" : "The updated queue description"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successfully updated queue description",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/QueueConfigResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/queues/{queueIdent}/credentials/{credentialId}" : {
      "get" : {
        "tags" : [ "queue-credentials-controller-_-retrieve" ],
        "summary" : "Get a queue credential by Id",
        "description" : "Get a queue credential by its Id in a queue given by its identifier.",
        "operationId" : "getQueueCredential",
        "parameters" : [ {
          "name" : "queueIdent",
          "in" : "path",
          "description" : "The identifier of the queue to fetch the credential from",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "credentialId",
          "in" : "path",
          "description" : "The Id of the credential to fetch",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        }, {
          "name" : "If-None-Match",
          "in" : "header",
          "description" : "if-none-match HTTP header value (for e-tag evaluation).",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully fetched queue credential",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/QueueDTO"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "queue-credentials-controller-_-update" ],
        "summary" : "Update the password on the queue credential given by Id, on a queue given by Id",
        "description" : "Update the password for the queue credential given by its identifier.\n\n This endpoint allows authenticated users with the \"VERIFIED_ROLE\" to update the\n password of a queue credential object given by its Id, on a queue given by its identifier.",
        "operationId" : "updatePassword",
        "parameters" : [ {
          "name" : "queueIdent",
          "in" : "path",
          "description" : "The identifier of the queue to update",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "credentialId",
          "in" : "path",
          "description" : "The Id of the credential to update",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "requestBody" : {
          "content" : {
            "*/*" : {
              "schema" : {
                "type" : "string",
                "description" : "The new password for the credential"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successfully updated password",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ResponseMessage"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "queue-credentials-controller-_-delete" ],
        "summary" : "Delete a queue credential by Id on a queue given by Id",
        "description" : "Delete a queue credential given by its identifier.\n\n This endpoint allows authenticated users with the \"VERIFIED_ROLE\" to delete a\n queue credential given by its Id, on a queue given by its identifier.",
        "operationId" : "deleteQueueCredential",
        "parameters" : [ {
          "name" : "queueIdent",
          "in" : "path",
          "description" : "The identifier of the queue to delete",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "credentialId",
          "in" : "path",
          "description" : "The Id of the credential to delete",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully deleted queue credential",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ResponseMessage"
                }
              }
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "queue-credentials-controller-_-update" ],
        "summary" : "Update the password on the queue credential given by Id, on a queue given by Id",
        "description" : "Update the password for the queue credential given by its identifier.\n\n This endpoint allows authenticated users with the \"VERIFIED_ROLE\" to update the\n password of a queue credential object given by its Id, on a queue given by its identifier.",
        "operationId" : "updatePassword_1",
        "parameters" : [ {
          "name" : "queueIdent",
          "in" : "path",
          "description" : "The identifier of the queue to update",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "credentialId",
          "in" : "path",
          "description" : "The Id of the credential to update",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "requestBody" : {
          "content" : {
            "*/*" : {
              "schema" : {
                "type" : "string",
                "description" : "The new password for the credential"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successfully updated password",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ResponseMessage"
                }
              }
            }
          }
        }
      }
    },
    "/v1/queues/{queueIdent}/copyright" : {
      "get" : {
        "tags" : [ "queue-controller-_-retrieve" ],
        "summary" : "Get the copyright of a queue given by its identifier",
        "description" : "Get the copyright of a queue given by its identifier.\n <p>\n This endpoint allows authenticated users with the \"VERIFIED_ROLE\" to get the copyright of a\n queue given by its identifier.",
        "operationId" : "getQueueCopyright",
        "parameters" : [ {
          "name" : "Accept",
          "in" : "header",
          "required" : false,
          "schema" : {
            "type" : "string",
            "default" : "application/json"
          }
        }, {
          "name" : "queueIdent",
          "in" : "path",
          "description" : "The identifier of the queue to fetch the copyright from",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully fetched queue copyright",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "type" : "string"
                }
              },
              "application/json" : {
                "schema" : {
                  "type" : "string"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "queue-controller-_-update" ],
        "summary" : "Change the copyright of an existing queue",
        "description" : "Change the copyright of an existing queue.\n <p>\n This endpoint allows authenticated users with the \"VERIFIED_ROLE\" to update the copyright\n of an existing queue.",
        "operationId" : "updateQueueCopyright",
        "parameters" : [ {
          "name" : "queueIdent",
          "in" : "path",
          "description" : "The identifier of the queue to update the copyright for",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The updated queue copyright.",
          "content" : {
            "*/*" : {
              "schema" : {
                "type" : "string",
                "description" : "The updated queue copyright"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successfully updated queue copyright",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/QueueConfigResponse"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "queue-controller-_-delete" ],
        "summary" : "Delete the copyright from a queue given by its identifier",
        "description" : "Delete the copyright for a queue given by its identifier.",
        "operationId" : "deleteQueueCopyright",
        "parameters" : [ {
          "name" : "queueIdent",
          "in" : "path",
          "description" : "The identifier of the queue with the copyright to delete",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully deleted queue copyright",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/QueueConfigResponse"
                }
              }
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "queue-controller-_-update" ],
        "summary" : "Change the copyright of an existing queue",
        "description" : "Change the copyright of an existing queue.\n <p>\n This endpoint allows authenticated users with the \"VERIFIED_ROLE\" to update the copyright\n of an existing queue.",
        "operationId" : "updateQueueCopyright_1",
        "parameters" : [ {
          "name" : "queueIdent",
          "in" : "path",
          "description" : "The identifier of the queue to update the copyright for",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The updated queue copyright.",
          "content" : {
            "*/*" : {
              "schema" : {
                "type" : "string",
                "description" : "The updated queue copyright"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successfully updated queue copyright",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/QueueConfigResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/queues/{queueIdent}/auth" : {
      "get" : {
        "tags" : [ "queue-controller-_-retrieve" ],
        "summary" : "Get the authentication requirement of a queue given by its identifier",
        "description" : "Get the authentication requirement of a queue given by its identifier.\n <p>\n This endpoint allows authenticated users with the \"VERIFIED_ROLE\" to get the authentication requirement of a\n queue given by its identifier.",
        "operationId" : "getQueueAuthRequirement",
        "parameters" : [ {
          "name" : "Accept",
          "in" : "header",
          "required" : false,
          "schema" : {
            "type" : "string",
            "default" : "application/json"
          }
        }, {
          "name" : "queueIdent",
          "in" : "path",
          "description" : "The identifier of the queue to fetch the authentication requirement from",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully fetched queue authentication requirement",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "type" : "string"
                }
              },
              "application/json" : {
                "schema" : {
                  "type" : "string"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "queue-controller-_-update" ],
        "summary" : "Change the authentication requirements of an existing queue",
        "description" : "Change the authentication requirement of an existing queue.\n <p>\n This endpoint allows authenticated users with the \"VERIFIED_ROLE\" to update the authentication requirement\n of an existing queue.",
        "operationId" : "updateQueueAuthRequirement",
        "parameters" : [ {
          "name" : "queueIdent",
          "in" : "path",
          "description" : "The identifier of the queue to update the authentication requirement for",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The request containing the updated authentication requirement.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/QueueAuthUpdateRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successfully updated queue authentication requirement",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/QueueConfigResponse"
                }
              }
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "queue-controller-_-update" ],
        "summary" : "Change the authentication requirements of an existing queue",
        "description" : "Change the authentication requirement of an existing queue.\n <p>\n This endpoint allows authenticated users with the \"VERIFIED_ROLE\" to update the authentication requirement\n of an existing queue.",
        "operationId" : "updateQueueAuthRequirement_1",
        "parameters" : [ {
          "name" : "queueIdent",
          "in" : "path",
          "description" : "The identifier of the queue to update the authentication requirement for",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The request containing the updated authentication requirement.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/QueueAuthUpdateRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successfully updated queue authentication requirement",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/QueueConfigResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/posts/{postId}" : {
      "get" : {
        "tags" : [ "post-controller-_-retrieve" ],
        "summary" : "Get a staging post by Id",
        "description" : "Get a staging post by its Id.",
        "operationId" : "getPost",
        "parameters" : [ {
          "name" : "postId",
          "in" : "path",
          "description" : "The Id of the post to fetch",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        }, {
          "name" : "If-None-Match",
          "in" : "header",
          "description" : "if-none-match HTTP header value (for e-tag evaluation).",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully fetched staging post",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PostDTO"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "post-controller-_-update" ],
        "summary" : "Update the post given by Id",
        "description" : "Update a post given by Id.\n\n This endpoint allows authenticated users with the \"VERIFIED_ROLE\" to update any\n attribute of a post given by its Id.",
        "operationId" : "updatePost",
        "parameters" : [ {
          "name" : "postId",
          "in" : "path",
          "description" : "The Id of the post to update",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "requestBody" : {
          "description" : "The request containing the updated post.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PostConfigRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successfully updated post",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PostDTO"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "post-controller-_-delete" ],
        "summary" : "Delete the post given by Id",
        "description" : "Delete a post given by Id.\n\n This endpoint allows authenticated users with the \"VERIFIED_ROLE\" to delete\n a post given by its Id.",
        "operationId" : "deletePost",
        "parameters" : [ {
          "name" : "postId",
          "in" : "path",
          "description" : "The Id of the post to delete",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully deleted post",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ResponseMessage"
                }
              }
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "post-controller-_-update" ],
        "summary" : "Update the post given by Id",
        "description" : "Update a post given by Id.\n\n This endpoint allows authenticated users with the \"VERIFIED_ROLE\" to update any\n attribute of a post given by its Id.",
        "operationId" : "updatePost_1",
        "parameters" : [ {
          "name" : "postId",
          "in" : "path",
          "description" : "The Id of the post to update",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "requestBody" : {
          "description" : "The request containing the updated post.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PostConfigRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successfully updated post",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PostDTO"
                }
              }
            }
          }
        }
      }
    },
    "/v1/posts/{postId}/urls" : {
      "get" : {
        "tags" : [ "url-controller-_-retrieve" ],
        "summary" : "Get all URLs in a post by its Id",
        "description" : "Get all URLs in the post given by its Id.\n\n This endpoint allows authenticated users with the \"VERIFIED_ROLE\" to retrieve all\n URLs in a specific post given by its Id.",
        "operationId" : "getPostUrls",
        "parameters" : [ {
          "name" : "postId",
          "in" : "path",
          "description" : "The Id of the post to fetch URLs from",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        }, {
          "name" : "offset",
          "in" : "query",
          "description" : "The number of items to skip before returning results",
          "required" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "description" : "The maximum number of items to return",
          "required" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully fetched post URLs",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/PostUrl"
                  }
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "url-controller-_-update" ],
        "summary" : "Update all post URLs on a post given by Id",
        "description" : "Update all post URLs on a post a given by Id.\n\n This endpoint allows authenticated users with the \"VERIFIED_ROLE\" to update all\n post URLs on a post given by its Id.",
        "operationId" : "updatePostURLs",
        "parameters" : [ {
          "name" : "postId",
          "in" : "path",
          "description" : "The Id of the post to update",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "requestBody" : {
          "description" : "A list of PostUrlConfigRequest objects representing the URLs on the post.",
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "array",
                "items" : {
                  "$ref" : "#/components/schemas/PostUrlConfigRequest"
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successfully updated post URLs",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ResponseMessage"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "url-controller-_-create" ],
        "summary" : "Add a new URL to the post given by its Id",
        "description" : "Add a new URL to the post given by its Id.\n\n This endpoint allows authenticated users with the \"VERIFIED_ROLE\" to add a new URLs\n to a specific post given by its Id.",
        "operationId" : "addPostUrl",
        "parameters" : [ {
          "name" : "postId",
          "in" : "path",
          "description" : "The Id of the post to add URL to",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "requestBody" : {
          "description" : "A PostUrlConfigRequest object, representing the new URL to add.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PostUrlConfigRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "Successfully added URL to post",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ResponseMessage"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "url-controller-_-delete" ],
        "summary" : "Delete all post URLs on a post given by Id",
        "description" : "Delete all post URLs on a post given by its Id.\n\n This endpoint allows authenticated users with the \"VERIFIED_ROLE\" to delete all\n post URLs on a post given by its Id.",
        "operationId" : "deletePostUrls",
        "parameters" : [ {
          "name" : "postId",
          "in" : "path",
          "description" : "The Id of the post to delete URLs from",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully deleted post URLs",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ResponseMessage"
                }
              }
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "url-controller-_-update" ],
        "summary" : "Update all post URLs on a post given by Id",
        "description" : "Update all post URLs on a post a given by Id.\n\n This endpoint allows authenticated users with the \"VERIFIED_ROLE\" to update all\n post URLs on a post given by its Id.",
        "operationId" : "updatePostURLs_1",
        "parameters" : [ {
          "name" : "postId",
          "in" : "path",
          "description" : "The Id of the post to update",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "requestBody" : {
          "description" : "A list of PostUrlConfigRequest objects representing the URLs on the post.",
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "array",
                "items" : {
                  "$ref" : "#/components/schemas/PostUrlConfigRequest"
                }
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successfully updated post URLs",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ResponseMessage"
                }
              }
            }
          }
        }
      }
    },
    "/v1/posts/{postId}/urls/{urlIdent}" : {
      "get" : {
        "tags" : [ "url-controller-_-retrieve" ],
        "summary" : "Get a single URL in a post by its Id",
        "description" : "Get a single URL in the post given by its identifier.\n\n This endpoint allows authenticated users with the \"VERIFIED_ROLE\" to retrieve a single\n URL in a post given by its Id.",
        "operationId" : "getPostUrl",
        "parameters" : [ {
          "name" : "postId",
          "in" : "path",
          "description" : "The Id of the post to fetch the URL from",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        }, {
          "name" : "urlIdent",
          "in" : "path",
          "description" : "The identifier of the URL to fetch",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully fetched post URL",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PostUrl"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "url-controller-_-update" ],
        "summary" : "Update a post URL on a post given by Ident",
        "description" : "Update a post URL given by its identifier.\n\n This endpoint allows authenticated users with the \"VERIFIED_ROLE\" to update a\n post URL given by its identifier, on a post given by its Id.",
        "operationId" : "updatePostUrl",
        "parameters" : [ {
          "name" : "postId",
          "in" : "path",
          "description" : "The Id of the post to update",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        }, {
          "name" : "urlIdent",
          "in" : "path",
          "description" : "The identifier of the URL to update",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "A PostUrlConfigRequest, representing the URL to update.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PostUrlConfigRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successfully updated post URL",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ResponseMessage"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "url-controller-_-delete" ],
        "summary" : "Delete a post URL by its identifier on a post given by Id",
        "description" : "Delete a post URL given by its identifier.\n\n This endpoint allows authenticated users with the \"VERIFIED_ROLE\" to delete a\n post URL given by its identifier, on a post given by its Id.",
        "operationId" : "deletePostUrl",
        "parameters" : [ {
          "name" : "postId",
          "in" : "path",
          "description" : "The Id of the post to delete a URL from",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        }, {
          "name" : "urlIdent",
          "in" : "path",
          "description" : "The identifier of the URL to delete",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully deleted post URL",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ResponseMessage"
                }
              }
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "url-controller-_-update" ],
        "summary" : "Update a post URL on a post given by Ident",
        "description" : "Update a post URL given by its identifier.\n\n This endpoint allows authenticated users with the \"VERIFIED_ROLE\" to update a\n post URL given by its identifier, on a post given by its Id.",
        "operationId" : "updatePostUrl_1",
        "parameters" : [ {
          "name" : "postId",
          "in" : "path",
          "description" : "The Id of the post to update",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        }, {
          "name" : "urlIdent",
          "in" : "path",
          "description" : "The identifier of the URL to update",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "A PostUrlConfigRequest, representing the URL to update.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PostUrlConfigRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successfully updated post URL",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ResponseMessage"
                }
              }
            }
          }
        }
      }
    },
    "/v1/posts/{postId}/title" : {
      "get" : {
        "tags" : [ "post-controller-_-retrieve" ],
        "summary" : "Get the title of a post given by its Id.",
        "description" : "Get the title of a post given by its Id.\n\n This endpoint allows authenticated users with the \"VERIFIED_ROLE\" to retrieve the\n title of a post given by its Id.",
        "operationId" : "getPostTitle",
        "parameters" : [ {
          "name" : "postId",
          "in" : "path",
          "description" : "The Id of the post to fetch title from",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully fetched post title",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ContentObject"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "post-controller-_-update" ],
        "summary" : "Update the title of the post given by Id",
        "description" : "Update the title of the post given by Id.\n\n This endpoint allows authenticated users with the \"VERIFIED_ROLE\" to update the\n title of a post given by its Id.",
        "operationId" : "updatePostTitle",
        "parameters" : [ {
          "name" : "postId",
          "in" : "path",
          "description" : "The Id of the post to update",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "requestBody" : {
          "description" : "The request containing the updated post title.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ContentObject"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successfully updated post title",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ContentObject"
                }
              }
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "post-controller-_-update" ],
        "summary" : "Update the title of the post given by Id",
        "description" : "Update the title of the post given by Id.\n\n This endpoint allows authenticated users with the \"VERIFIED_ROLE\" to update the\n title of a post given by its Id.",
        "operationId" : "updatePostTitle_1",
        "parameters" : [ {
          "name" : "postId",
          "in" : "path",
          "description" : "The Id of the post to update",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "requestBody" : {
          "description" : "The request containing the updated post title.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ContentObject"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successfully updated post title",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ContentObject"
                }
              }
            }
          }
        }
      }
    },
    "/v1/posts/{postId}/status" : {
      "get" : {
        "tags" : [ "post-controller-_-retrieve" ],
        "summary" : "Get the status of a post given by its Id",
        "description" : "Get the status of a post given by its Id.\n\n This endpoint allows authenticated users with the \"VERIFIED_ROLE\" to get the status of a\n posts given by its Id.  The status of a post is given by the PostPubStatus enumeration.",
        "operationId" : "getPostStatus",
        "parameters" : [ {
          "name" : "postId",
          "in" : "path",
          "description" : "The Id of the post to fetch status from",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully fetched post status",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "string",
                  "enum" : [ "UNPUBLISHED", "PUB_PENDING", "DEPUB_PENDING", "ARCHIVED", "PURGE_PENDING" ]
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "post-controller-_-update" ],
        "summary" : "Update the publication status of the post given by Id",
        "description" : "Update the publication status of the post given by Id.\n\n This endpoint allows authenticated users with the \"VERIFIED_ROLE\" to update the\n publication status of a post given by its Id. The status can be 'PUB_PENDING',\n 'DEPUB_PENDING', or null.",
        "operationId" : "updatePostStatus",
        "parameters" : [ {
          "name" : "postId",
          "in" : "path",
          "description" : "The Id of the post to update",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "requestBody" : {
          "description" : "The request containing the updated post status.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PostStatusUpdateRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successfully updated post publication status",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/DeployResponse"
                  }
                }
              }
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "post-controller-_-update" ],
        "summary" : "Update the publication status of the post given by Id",
        "description" : "Update the publication status of the post given by Id.\n\n This endpoint allows authenticated users with the \"VERIFIED_ROLE\" to update the\n publication status of a post given by its Id. The status can be 'PUB_PENDING',\n 'DEPUB_PENDING', or null.",
        "operationId" : "updatePostStatus_1",
        "parameters" : [ {
          "name" : "postId",
          "in" : "path",
          "description" : "The Id of the post to update",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "requestBody" : {
          "description" : "The request containing the updated post status.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PostStatusUpdateRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successfully updated post publication status",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/DeployResponse"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/posts/{postId}/rights" : {
      "get" : {
        "tags" : [ "post-controller-_-retrieve" ],
        "summary" : "Get the rights string of a post given by its Id.",
        "description" : "Get the rights string of a post given by its Id.\n\n This endpoint allows authenticated users with the \"VERIFIED_ROLE\" to retrieve the\n rights string of a post given by its Id.",
        "operationId" : "getPostRights",
        "parameters" : [ {
          "name" : "Accept",
          "in" : "header",
          "required" : false,
          "schema" : {
            "type" : "string",
            "default" : "application/json"
          }
        }, {
          "name" : "postId",
          "in" : "path",
          "description" : "The Id of the post to fetch rights string from",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully fetched post rights string",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "type" : "string"
                }
              },
              "application/json" : {
                "schema" : {
                  "type" : "string"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "post-controller-_-update" ],
        "summary" : "Update the rights string of the post given by Id",
        "description" : "Update the rights string of the post given by Id.\n\n This endpoint allows authenticated users with the \"VERIFIED_ROLE\" to update the\n rights string of a post given by its Id.",
        "operationId" : "updatePostRights",
        "parameters" : [ {
          "name" : "Accept",
          "in" : "header",
          "required" : false,
          "schema" : {
            "type" : "string",
            "default" : "application/json"
          }
        }, {
          "name" : "Content-Type",
          "in" : "header",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "postId",
          "in" : "path",
          "description" : "The Id of the post to update",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "requestBody" : {
          "description" : "The updated post rights string.",
          "content" : {
            "*/*" : {
              "schema" : {
                "type" : "string"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successfully updated post rights string",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "string"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "post-controller-_-delete" ],
        "summary" : "Delete the rights string from a post given by Id",
        "description" : "Delete the rights string for a post given by Id.\n\n This endpoint allows authenticated users with the \"VERIFIED_ROLE\" to delete\n the rights string from a post given by its Id.",
        "operationId" : "deletePostRights",
        "parameters" : [ {
          "name" : "postId",
          "in" : "path",
          "description" : "The Id of the post with the rights string to delete",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully deleted post rights string",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ResponseMessage"
                }
              }
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "post-controller-_-update" ],
        "summary" : "Update the rights string of the post given by Id",
        "description" : "Update the rights string of the post given by Id.\n\n This endpoint allows authenticated users with the \"VERIFIED_ROLE\" to update the\n rights string of a post given by its Id.",
        "operationId" : "updatePostRights_1",
        "parameters" : [ {
          "name" : "Accept",
          "in" : "header",
          "required" : false,
          "schema" : {
            "type" : "string",
            "default" : "application/json"
          }
        }, {
          "name" : "Content-Type",
          "in" : "header",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "postId",
          "in" : "path",
          "description" : "The Id of the post to update",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "requestBody" : {
          "description" : "The updated post rights string.",
          "content" : {
            "*/*" : {
              "schema" : {
                "type" : "string"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successfully updated post rights string",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "string"
                }
              }
            }
          }
        }
      }
    },
    "/v1/posts/{postId}/media" : {
      "get" : {
        "tags" : [ "media-controller-_-retrieve" ],
        "summary" : "Get the media in the post given by its Id",
        "description" : "Get the media in the post given by its Id.\n\n This endpoint allows authenticated users with the \"VERIFIED_ROLE\" to retrieve the\n media in a post given by its Id.",
        "operationId" : "getPostMedia",
        "parameters" : [ {
          "name" : "postId",
          "in" : "path",
          "description" : "The Id of the post to fetch media from",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully fetched post media",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PostMedia"
                }
              }
            }
          }
        }
      },
      "put" : {
        "tags" : [ "media-controller-_-update" ],
        "summary" : "Update the post media object on a post given by Id",
        "description" : "Update a post media object on a post given by Id.\n\n This endpoint allows authenticated users with the \"VERIFIED_ROLE\" to update a\n post media object on a post given by its Id.",
        "operationId" : "updatePostMedia",
        "parameters" : [ {
          "name" : "postId",
          "in" : "path",
          "description" : "The Id of the post to update",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "requestBody" : {
          "description" : "A PostMedia object, representing new media to update.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PostMedia"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successfully updated post media",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ResponseMessage"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "media-controller-_-delete" ],
        "summary" : "Delete a post media object from a post given by Id",
        "description" : "Delete a post media object from a post given by Id,\n\n This endpoint allows authenticated users with the \"VERIFIED_ROLE\" to delete a\n a post media object on a post given by its Id.",
        "operationId" : "deletePostMedia",
        "parameters" : [ {
          "name" : "postId",
          "in" : "path",
          "description" : "The Id of the post to delete media from",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully deleted post media",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ResponseMessage"
                }
              }
            }
          }
        }
      },
      "patch" : {
        "tags" : [ "media-controller-_-update" ],
        "summary" : "Update the post media object on a post given by Id",
        "description" : "Update a post media object on a post given by Id.\n\n This endpoint allows authenticated users with the \"VERIFIED_ROLE\" to update a\n post media object on a post given by its Id.",
        "operationId" : "updatePostMedia_1",
        "parameters" : [ {
          "name" : "postId",
          "in" : "path",
          "description" : "The Id of the post to update",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "requestBody" : {
          "description" : "A PostMedia object, representing new media to update.",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PostMedia"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Successfully updated post media",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ResponseMessage"
                }
              }
            }
          }
        }
      }
    },
    "/v1/posts/{postId}/itunes" : {
      "get" : {
        "tags" : [ "post-controller-_-retrieve" ],
        "summary" : "Get the iTunes descriptor of a post given by its Id.",
        "description" : "Get the iTunes descriptor of a post given by its Id.\n\n This endpoint allows authenticated users with the \"VERIFIED_ROLE\" to retrieve the\n iTunes descriptor of a post given by its Id.",
        "operationId" : "getPostITunes",
        "parameters" : [ {
          "name" : "postId",
          "in" : "path",
          "description" : "The Id of the post to fetch iTunes descriptor from",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int64"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully fetched post iTunes descriptor",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PostITunes"
                }
              }
            }
          }
        }
      },
[...]
